[2015-09-29 15:15] cstewart87 opened #2 "Compatibility with Windows Azure Pack?"
Has this driver been tested against WAP?

[2015-09-29 15:19] stuartpreston commented on #2
@cstewart87 No, Azure Pack is based on the older Service Management stack.  As we are using Azure Resource Manager functionality it will be possible to use this against Azure Stack in the future (NB: this is dependent on the Azure SDK for Ruby having support for Azure Stack)

[2015-09-29 15:19] #2 closed

[2015-10-06 20:02] glennmate opened #3 "Kitchen create: Failed to complete #create action: [undefined method `[]' for nil:NilClass]"
First off, my apologies if the syntax or formatting here is absolutely backwards. I am new to Github. Basically I am working with a certified Chef consultant in attempts to get our infrastructure connected to Azure. I have connected my information to Azure successfully but fail out when attempting to Kitchen Create. Workstation is Windows 7, any assistance is appreciated. The main error is:

Faile

[2015-10-06 21:36] stuartpreston commented on #3
Failing at that point generally points to an issue with your credentials file. I'm updating my Windows system to check 0.8.1 of ChefDK doesn't exhibit the same behaviour.

Can you triple check your ~/.azure/credentials file - make sure it is UTF-8 encoded and the first line starts ```[a7c8aa2c-8e9d-410a-8b84-0464b4d7e8eb]```

Which is your Subscription ID.  There should be 3 lines after that:

[co

[2015-10-06 21:42] glennmate commented on #3
It was the UTF-8 encoding. I recreated the credentials file word-for-word in another text editor and the problem did not present itself. You can close this issue. Thanks for the point in the right direction.

[2015-10-06 21:42] #3 closed

[2015-10-06 21:44] stuartpreston commented on #3
@glennmate Glad to hear it is working!

[2015-10-20 21:37] phillipbroberts opened #4 "Failed to complete #create action"
PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen test
-----> Starting Kitchen (v1.4.2)
-----> Cleaning up any prior instances of <default-centos-71>
-----> Destroying <default-centos-71>...
       Finished destroying <default-centos-71> (0m0.00s).
-----> Testing <default-centos-71>
-----> Creating <default-centos-71>...

[2015-10-20 21:41] phillipbroberts commented on #4
PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen test
-----> Starting Kitchen (v1.4.2)
-----> Cleaning up any prior instances of <default-centos-71>
-----> Destroying <default-centos-71>...
       Finished destroying <default-centos-71> (0m0.00s).
-----> Testing <default-centos-71>
-----> Creating <default-centos-71>...

[2015-10-20 21:41] phillipbroberts commented on #4
I, [2015-10-20T17:39:19.488941 #12532]  INFO -- Kitchen: -----> Starting Kitchen (v1.4.2)
I, [2015-10-20T17:39:25.697169 #12532]  INFO -- Kitchen: -----> Cleaning up any prior instances of <default-centos-711>
I, [2015-10-20T17:39:25.698179 #12532]  INFO -- Kitchen: -----> Destroying <default-centos-711>...
I, [2015-10-20T17:39:25.701174 #12532]  INFO -- Kitchen: -----> Testing <default-centos-711

[2015-10-20 21:43] phillipbroberts commented on #4
I am checking my credentials file. Will let you know if this fixes it.

[2015-10-20 21:45] phillipbroberts commented on #4
I used Sublime Text 3 to recreate my credentials file line for line and saved as UTF-8 and it did not fix the issue :(

[2015-10-20 21:58] phillipbroberts commented on #4
I also verified the data used in the credentials file with azure login.

[2015-10-20 22:29] stuartpreston commented on #4
This looks curious as no instances are listed to be created as far as I can see... Can you post the output of kitchen list/kitchen diagnose and if you want me to have a deeper look send me your files to the address listed on my GitHub profile?

[2015-10-21 13:25] phillipbroberts commented on #4
Its interesting because on a subsequent run, it fails with same error however, it fails to destory.

PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen test
-----> Starting Kitchen (v1.4.2)
-----> Cleaning up any prior instances of <default-centos-711>
-----> Destroying <default-centos-711>...

Requested information is on its way.

[2015-10-21 13:28] phillipbroberts commented on #4
PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen list
Instance            Driver   Provisioner  Verifier  Transport  Last Action
default-centos-711  Azurerm  ChefZero     Busser    Ssh        <Not Created>

PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen diagnose --all
---
timestamp: 2015-10-21 13:26:54 UTC
kitchen_version:

[2015-10-21 13:28] phillipbroberts commented on #4
Which files are you interested in?

[2015-10-21 13:32] stuartpreston commented on #4
I may not need it... looking at your diagnose output... can you search for ```drive_config``` and replace with ```driver_config```?

[2015-10-21 13:39] phillipbroberts commented on #4
Let me give it a shot. Nice catch.

[2015-10-21 13:44] phillipbroberts commented on #4
I was going to be embarrassed if that was the issue, unfortunately, no joy.

PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen test
-----> Starting Kitchen (v1.4.2)
-----> Cleaning up any prior instances of <default-centos-711>
-----> Destroying <default-centos-711>...

PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> kitchen list
In

[2015-10-21 13:49] stuartpreston commented on #4
The next thing I spotted was the 'US East' is not a valid location - it's 'East US' - but testing locally I see you aren't getting that far.  Can you drop me your .kitchen.yml and a screenshot of your credentials file (feel free to blur out the service principal secret, etc.)

[2015-10-21 13:58] stuartpreston commented on #4
The error from your first message does seem to point at an inability to get the tenant_id from the inifile (credentials).  I take it you have triple checked the first line is

[code]

If you have the azure-cli installed, you can use ```azure ad sp list``` in ARM mode to verify the guid for the client_id, and azure account list to see the tenant_id

[code]

Sorry if I'm going over stuff that is obv

[2015-10-21 13:59] phillipbroberts commented on #4
Let me check that, and no, I am new to the azure stuff altogether, so there has definitely been some confusion in the GUID's and what not.

[2015-10-21 14:06] phillipbroberts commented on #4
I think this might be were my confusion is:

azure ad sp list :
...
data:
data:    Object Id:               f2663a30-983c-4507-a4b1-bd0d5ea2596e
data:    Display Name:            Test Kitchen
data:    Service Principal Names:
data:                             https://ingenium-group.com
data:                             0aa9b952-913f-49a0-851e-f45cd76869dd
data:

azure account list:
C:\WINDOWS\syst

[2015-10-21 14:12] stuartpreston commented on #4
It looks mostly OK based on what you've provided so far. I don't know why you don't see the tenant_id when doing an azure account list.  Are you logging on with a Microsoft Organizational/Work ID or a Microsoft Account/Live ID?  Did you verify your tenant_id in a portal?

[2015-10-21 14:19] phillipbroberts commented on #4
Microsoft Organizational/Work ID - I did find the tenant_id somewhere, I want to say in the portal, but to be honest, I don't remember where, let me see if I can find it in the portal.

[2015-10-21 14:30] phillipbroberts commented on #4
PS C:\Users\Phillip\RubyMineProjects\atlassian\atlassian\cookbooks\atlassian> Add-AzureAccount

Id                             Type       Subscriptions                                    Tenants
--                             ----       -------------                                    -------
phil@ingenium-group.com        User       d71449f9-4664-4005-9318-9d9a798f809c             0b510259-ce1b-4

[2015-10-21 14:58] stuartpreston commented on #4
Ok, well all your guids would seem to be correct, so can I just confirm what's the latest error you get doing a kitchen create?  Did you find my direct email address?

[2015-10-21 16:27] phillipbroberts commented on #4
Seems I have gotten it working. I am not sure how yet. I did remove a trailing line in the credentials file? I could see the possibly causing an issue?

[2015-10-21 16:27] phillipbroberts commented on #4
Thanks for your attention and help man! The trailing line *MUST* have been the issue.

[2015-10-21 16:27] #4 closed

[2015-10-27 05:29] vinyar opened #5 "Nil error on failure to authenticate"
If credentials file is set up incorrectly, `kitchen create` fails with `[undefined method `[]' for nil:NilClass]`

The real error as can be seen from pry is failure to authenticate

[code]
 Hitting the method manually <
[code]
The error kitchen presents (even in debug mode)
[code]

[2015-10-28 00:14] vinyar opened #6 "subscription_id should not be mandatory for .kitchen.yml"
Bug: All of the settings for azure are pulled in from the ~/.azure/credentials file.

Subscription ID is one of the settings. The default behavior of the azure-cli is to use the top Subscription if there are multiple subscriptions and default one is not specified.

Current expectation
[code]

Expected behavior: subscription id is pulled from credentials file.
[code]

[2015-10-28 04:23] stuartpreston commented on #6
Subscription ID is currently required to be specified as it provides a reference to the correct inifile section. This is intended behaviour/how I designed it.

Can you elaborate on your use case and why you want to remove subscription_id from the .kitchen.yml? Is this to support multiple subscriptions (one per developer?) in which case can you use the .kitchen.local.yml?

[2015-10-28 10:20] stuartpreston commented on #5
Looks like the SDK made some changes that means the error is not available the same way. I'll have a look, thanks.

[2015-10-28 21:51] vinyar commented on #5
:+1:

[2015-10-28 22:04] vinyar commented on #6
In my specific case, each developer has access to 5+ subscriptions (5 minimum). So, when we populate `credentials` file with just one subscription, it would make intuitive sense that driver would use these creds. (that seems to be azure behavior as well, it uses the top subscription by default)

In a dev workstation scenario, each person has to modify .kitchen.yml to specify their subscription id

[2015-10-30 21:37] stuartpreston commented on #6
@vinyar Thanks for the explanation, I understand your use case. Will see what can be done (unless someone else submits a PR ;)). But for now you can add your subscription_id to:

- ```.kitchen.yml``` (project config)
- ```.kitchen.local.yml``` (local config)
- ```$HOME/.kitchen/config.yml``` (global config)

[2015-11-29 18:58] neillturner opened #10 "How to get client id and client secret"
I was able to follow along the instructions from
  https://azure.microsoft.com/en-us/documentation/articles/resource-group-authenticate-service-principal/#authenticate-service-principal-with-password---azure-cli
but no sure what client id and client secret is.
I tried using the application id and the password as the client id and client secret but when i try a kitchen create i get error:
   {"erro

[2015-11-29 19:03] stuartpreston commented on #10
@neillturner Yes, it should be the application id and the password/secret set for the application. As you are using the azure-cli, have you tried logging in using the application id and password:

[code]

[code]

[2015-12-01 13:48] neillturner commented on #10
Ok im logging ok but i when it tries to create a resource group then i get an authorisation failure. maybe you have to be authorised somehow to use the azure resource manager. -)

[2015-12-01 14:16] stuartpreston commented on #10
Did you miss the role assignment bit perhaps? This is where the objectID of your service principal (note not your application ID!) is given the specific right on the subscription.

Here's the command I used:

[code]

Any use??

[2015-12-06 16:42] neillturner commented on #10
Stuart,
 thanks for your prompt reply I have it working.thanks for writing the plugin very useful. unfortunately I been spoiled these last 6 years with Amazon AWS excellent documentation.
 when i used
  azure role assignment create --objectId c49c3e61-YOUR-GUID-HERE-86c61ab2f428 -o Owner -c /subscriptions/b6e7eee9-YOUR-GUID0HERE-03ab624df016
instead of
  azure role assignment create --objectId c49

[2015-12-06 16:42] #10 closed

[2015-12-06 16:47] stuartpreston commented on #10
@neillturner Glad you were able to get it working. I will take the above feedback and see what can be done with the project readme too.

[2015-12-21 19:39] ricardolupo opened #14 "When creating a win2k8-r2 VM from the .kitchen.yml shown in the README, the vm never converges"
[code]

[2015-12-21 19:46] binamov commented on #14
:+1: I see this with ` kitchen-azurerm (0.2.3) ` and this in my .kitchen.yml:

[code]

[2015-12-22 19:54] stuartpreston commented on #14
I just tried this out myself and looks like the agent process that executes the PowerShell script doesn't have enough rights to do what it needs to configure WinRM, where a similar script does seem to on Win2012R2.

[code]

I confirmed the script was sent to the machine correctly:

[code]

I believe this to be expected as the waagent executes the script as the SYSTEM account rather than an account

[2015-12-31 15:34] glennmate opened #15 "Could not load the 'azurerm' driver from the load path"
After upgrading to the latest Chef-DK (0.9.0->0.10.0):

[code]

I've uninstalled and reinstalled the Chef-DK, including other versions. Seems broken now. Could this be a path issue? When using the vagrant driver I can kitchen create without issue.

```chef gem install kitchen-azurerm``` appears to be working:

[code]

And to add,  ```Bundle show kitchen-azurerm``` yields the following output:
[cod

[2015-12-31 15:41] glennmate commented on #15
Interestingly enough, 'chef gem list kitchen-azurerm' yields no local gem results. kitchen-vagrant does, however. I have uninstalled and reinstalled kitchen-azurerm with no success. It claims to be installing but won't show under my local gems.

[2016-01-01 16:44] stuartpreston commented on #15
That's interesting, will try this in my own environment tomorrow to see what's going on unless anyone else can comment.

[2016-01-04 13:02] stuartpreston commented on #15
@glennmate Did you get any further with this. I tried in my own environment that I upgraded from 0.9.x to 0.10.0 and didn't have any problems.

What I see:

[code]

Can you check your paths using ```chef gem env``` and also check that your ```$profile``` is correctly including ```chef shell-init powershell | iex```

[2016-01-04 21:02] stuartpreston commented on #14
I have a fix for this close to being pushed up today, stand by for testing @ricardolupo @binamov @andrewelizondo

[2016-01-05 14:05] glennmate commented on #15
@stuartpreston Haven't had time to play with this just yet but I will and update this issue case; it could very well be a local issue. I'm going to try on another machine straight from 10.0 (not upgrading) and report back

[2016-01-11 00:48] glennmate commented on #15
@stuartpreston  We're going to call this a local issue because I can't replicate anymore after making a few minor changes to my gem settings and reinstalling Chef DK - sorry for the false issue report but I appreciate the quick responses. .

[2016-01-11 00:48] #15 closed

[2016-01-11 10:14] stuartpreston commented on #14
Just to update this thread, I tried a number of ways including setting up a scheduled task and running an elevated PowerShell session and neither of these ways worked on Windows 2008 R2. Back to the drawing board. I have a branch here if anyone can think of a workaround using the same approach: https://github.com/pendrica/kitchen-azurerm/tree/psh-execution-as-admin

Otherwise it looks like we woul

[2016-01-13 03:23] scarolan opened #16 "[undefined method `[]' for nil:NilClass] on `kitchen create`"
I'm not sure why this is happening or how to troubleshoot it.  Here is the DEBUG stack trace:

D      ------Exception-------
D      Class: Kitchen::ActionFailed
D      Message: Failed to complete #create action: [undefined method `[]' for nil:NilClass]
D      ---Nested Exception---
D      Class: NoMethodError
D      Message: undefined method `[]' for nil:NilClass
D      ------Backtrace-------
D

[2016-01-13 05:32] stuartpreston commented on #16
This is most likely to be a problem with your credentials file/environment variables somehow. See #5.
I would try logging into your subscription as your service principal using the azure-cli to confirm everything is ok there.
Has this been working before for you?

[2016-01-20 07:39] Lees-Oz opened #17 "SSL validation error on https://login.windows.net login attempt"
Hi!
I'm new to Ruby and not sure if that related to your project, so sorry if that's a wrong place.
I'm getting following error when converging the kitchen:
Creating Resource Group: kitchen-default-windows2012-r2-20160119T162913
[code]

After some debugging, found that it happens on attempt to retrieve auth token from https://login.windows.net.
Found a workaround for it, but it seem to be dirty:
`

[2016-01-20 09:32] stuartpreston commented on #17
This is strange as login.windows.net reports as a valid certificate at online certificate checking sites such as: https://cryptoreport.websecurity.symantec.com/checker/

We don't expect to have to override the SSL checking for Azure, so I would ask if it's possible there's a local proxy that may be causing the issue? Have you tried this on multiple connections?

[2016-01-21 08:57] Lees-Oz commented on #17
Strange indeed. No, there's no proxy involved. Sorry, what do you mean with trying on multiple connections?

[2016-01-24 21:09] stuartpreston commented on #17
Hmm, I've tried this in the UK and US and don't seem to have the same issue. What country are you in? Australia by any chance (or is your username just a coincidence?) I'm wondering if a CDN is redirecting you to a page with a misconfigured SSL. Yes it was home and office connections I meant.

[2016-01-25 09:59] Lees-Oz commented on #17
I'm in Netherlands.

[2016-01-25 10:01] stuartpreston commented on #17
This is strange then as I should be able to repro this easily. If you visit https://login.windows.net in a browser do you get the same warning when looking at the certificate?

[2016-01-25 13:28] Lees-Oz commented on #17
Thanks for investigating it, Stuart!
Nop, browser reports that certificate for that site is fine, and I can login there.

[2016-01-28 16:02] Lees-Oz commented on #17
Colleague of mine didn't have that problem, looks like that the problem is on my machine somehow.

[2016-01-28 23:15] stuartpreston commented on #17
Let me know if you discover anything relating to the plugin and we can re-open the issue. I guess as a first stop I'd be looking at using OpenSSL on your machine to see if you have the correct root certificates, etc. Good luck!

[2016-01-28 23:15] #17 closed

[2016-01-28 23:16] stuartpreston commented on #16
@scarolan Did you get further with this?

[2016-01-28 23:20] stuartpreston opened #19 "Azure Marketplace images for Debian 7/8 and CentOS 7.1 hang on lecture notice during converge"
Test Kitchen 1.4.2
Net-ssh 3.0.2

.kitchen.yml
[code]

[2016-02-20 20:22] mhedgpeth opened #20 "Is Owner right required?"
I went through the directions and am using azure for the first time, so the security setup was difficult for me. I'm thinking of sending a pull request that explains that part a bit better for new people. Before I do that, could you confirm that Owner rights are needed? I used contributor (because I didn't carefully read your documentation) and it seems to work well.

[2016-02-22 14:00] stuartpreston commented on #19
This is due to passwordless sudo only being supported with Ubuntu (which uses cloud-init) vs the others that use waagent to perform the config. Working on a PR to support SSH key access which should unblock this...

[2016-02-22 14:03] stuartpreston commented on #20
Hi @mhedgpeth - a PR would be great, I had a look into it and yes it looks like Owner rights are not explicitly needed at the subscription level as typically the creator of the resources in Azure doesn't need access to other resources in the subscription.

[2016-02-23 11:36] davidobrien1985 opened #22 "Kitchen test throws error"
Hi,

I am following, at least I believe I do, your how to to the letter.
However, when running `kitchen test` I get the following error:

[code]

The `kitchen.log` is this:
[code]
My `.kitchen.yml` file:
[code]
Any idea?

[2016-02-23 11:51] stuartpreston commented on #22
@davidobrien1985 Can you triple check your ~/.azure/credentials file and make sure it is saved as UTF8 and includes a line ```tenant_id = "your-tenant-id"``` (Tenant ID is a GUID).

[2016-02-23 12:37] davidobrien1985 commented on #22
After quadruple-checking everything and even learning some Ruby along the way I checked the `yml` stuff kitchen creates in its local repo `.kitchen` and there it had a file in it from the very first run which had a faulty credentials file.
I removed that and now it's working like a charm.

Thanks (it's late, nearly midnight, so this all is automatically forgiven!) ;)

[2016-02-23 12:38] stuartpreston commented on #22
Glad you were able to get it working!

[2016-02-23 12:38] #22 closed

[2016-02-23 13:18] mhedgpeth commented on #20
I sent a PR on the updated documentation; the contributor works best for me. Thanks!

[2016-02-23 13:18] #20 closed

[2016-02-24 16:44] mhedgpeth opened #23 "Question: will this work with P2P encryption?"
This is more of a question than an issue: I'm having trouble with corporate LAN rules that prevent me from using winrm properly to azure. I want to create a P2P connection (https://azure.microsoft.com/en-us/documentation/articles/vpn-gateway-point-to-site-create/). If I have that connection set up would test kitchen using this driver create resources _within_ that connection?

[2016-02-24 17:25] stuartpreston commented on #23
I don't believe so. The driver will always use the public IP allocated. In a P2P connection I believe that traffic goes via the existing Internet route. We could consider adding a 'use_internal_ip' option for this which should be easy to implement...

[2016-02-24 21:55] mhedgpeth commented on #23
OK thanks, I'll test it if I need to go that route & see if I can create a PR with it (no promises at the moment, though; I'm new to azure)

[2016-02-26 21:39] stuartpreston commented on #16
I'm going to close this for now, please re-open if you continue to have issues...

[2016-02-26 21:39] #16 closed

[2016-02-26 21:49] stuartpreston commented on #19
Some changes for this have been pushed to branch **support-sshkey** in case anyone is interested in taking a look. I'll try and find some time to push a prerelease gem up soon.

[2016-02-26 22:07] stuartpreston commented on #5
Just retested this and the lack of error handling is still an issue.

[2016-02-29 23:53] stuartpreston commented on #5
This has been fixed in 0.3.0-pre onwards.

[2016-02-29 23:54] stuartpreston commented on #19
This is available in 0.3.0-pre

[2016-02-29 23:54] #19 closed

[2016-02-29 23:54] stuartpreston commented on #5
Please reopen if the issue remains

[2016-02-29 23:54] #5 closed

[2016-03-18 21:18] iiro opened #24 "Kitchen conv(erge) gives AzureOperationError"
Hi,

I tried to follow all the setup instuctions, but I get this (in TK log file):

[code]

Any ideas? Credential-file should be ok also.

I'm new to Azure to this can be easily an user error.

[2016-03-19 09:17] stuartpreston commented on #24
Could you post your kitchen.yml file please? (feel free to take out the subscription ID and any sensitive values).

[2016-03-19 09:43] stuartpreston commented on #24
I can repro this failure if I changed the driver_config location to a value that was not valid for my subscription.

[code]

Could that be the problem here?

[2016-03-19 10:03] iiro commented on #24
Hi,

I tried to follow up your example, only changing the necessary ones - here's the Kitchen YAML:

[code]

Can this be an error in my ~/.azure/credentials...? I tried to follow your example there as well...

[2016-03-19 11:06] stuartpreston commented on #24
I used your config and was able to successfully create the resource group and provision the machine, so it feels like it could be something to do with the or the subscription producing a message that we don't deal with.

![capture](https://cloud.githubusercontent.com/assets/6384654/13898072/b951c8c0-edbe-11e5-8ef9-bad4cb12d9a9.PNG)

Are you able to use the azure-cli to create a group in case that

[2016-03-19 17:03] iiro commented on #24
Thanks.

The "azure group create" command succeeds fine - but Test-Kitchen get's this error now:

´´´
       {"code"=>"AuthorizationFailed", "message"=>"The client '76c86e4c-e86f-4f2e-be07-c4eb1675910b' with object id '76c86e4c-e86f-4f2e-be07-c4eb1675910b' does not have authorization to perform action 'Microsoft.Resources/subscriptions/resourcegroups/write' over scope '/subscriptions/241973b3-397b

[2016-03-19 17:09] iiro commented on #24
Got this fixed now - by doing the "azure role assignment" with proper role.

For Test-Kitchen usage - what permissions would you recommend for...? Azure is not familiar to me - yet - but it would be good to know what would be the "sensible defaults" for TK usage - if you have any suggestions. :)

[2016-03-19 17:35] iiro commented on #24
One thing more to ask - sorry for this... How to connect to the TK-created VM using an SSH key...? It seems that AzureRM did not create the instance with SSH key preinstalled - as I cannot access the machine (not using username azure or ubuntu)...

[2016-03-20 07:34] stuartpreston commented on #24
Giving your Service Principal the Contributor access to your subscription is generally enough.

SSH keys are only uploaded to the created machine when the transport is set to: ```ssh```

I'm not familiar with the rsync transport is there a particular reason you are using it?

[2016-03-20 11:18] iiro commented on #24
Ok, I will switch to Contributor.

Ah - that's the logic here... At least with AWS instances (driver kitchen-ec2) the transport of Chef artifacts is superslow - as the SSH transport uses just scp to upload all files to provisioned node - and scp happens file by file; the sync takes minutes to happen... The RubyGem I've been using is kitchen-transport-rsync - it has worker really well.

I changed t

[2016-03-20 11:40] stuartpreston commented on #24
Hmm neither do I. I'll give this another test later, have you tried moving azure and azure.pub out of the way? The driver will recreate new keys on the next create. If that works then I'd be interested in the differences between the keys.

[2016-03-20 11:43] stuartpreston commented on #24
Actually is that a blank newline at the end of your public key file? I'm not sure any checking is done on that and newlines could break the JSON template behind the scenes I guess.

[2016-03-20 12:38] iiro commented on #24
It was - superb. ssh-keygen (at least in OSX) seems to create the newline there by default...

Converge works now.

Btw - about the rsync transfer... If you run the converge with "-l debug" (and ssh as a transport) you can see TK to sync files with scp one file at a time. :)

[2016-03-21 08:19] stuartpreston commented on #24
I've just pushed a couple of fixes as kitchen-azurerm 0.3.5 up to RubyGems. This removes the previous transport name restriction, and fixes the issue with the potential newline at the end of keys generated by ssh-keygen. Please give it a go with your rsync transport and let me know how you get on.

[2016-03-21 12:50] iiro commented on #24
Works like a charm - with both the SSH pubkey end-of-line fix and the transport change. Superb!

I think we can for sure close this one :)

[2016-03-21 12:50] #24 closed

[2016-03-21 17:25] stuartpreston commented on #6
I'm going to close this for now as the current mechanism is used in a few tools and there are workarounds listed in this thread for alternative usages.

[2016-03-21 17:25] #6 closed

[2016-03-22 06:24] vinyar commented on #6
:+1:

[2016-03-30 12:14] pjjohnstone opened #25 "Checksum issue when converging with chef client 12.8.1.1"
Have experienced the attached issue when trying to converge as of today.  Not sure if related to the latest version of the chef msi.

[kitchen_log.txt](https://github.com/pendrica/kitchen-azurerm/files/195446/kitchen_log.txt)

[2016-03-31 13:24] pjjohnstone commented on #25
Can confirm that this issue also occurs with the vagrant driver so I'm closing this issue.

[2016-03-31 13:24] #25 closed

[2016-04-22 11:21] MELLENS opened #26 "Can't run Kitchen Converge Windows 2012"
I'm not able to run Kitchen Converge - any suggestions?.  I get Exception:

There's no NSGs in place in Azure - I seem to be able to RDP to the box but don't know where to look for the username and password so can't investigate further.

I've tried recreating this in Kitchen and got the same error both times.

.kitchen.yml:

---
driver:
  name: azurerm

driver_config:
  subscription_id: 'MY-GUID'

[2016-04-22 11:31] stuartpreston commented on #26
Windows 2012 R2 should not need the winrm_powershell_script in order to configure itself so you could try taking that out in case your script is wrong.

The username and password are ```.\azure``` and ```P2ssw0rd``` respectively if unset (this info is in the readme).  The public IP is directly bound to a NIC directly attached to the VM so there shouldn't be any NSG rules in place.

[2016-04-22 11:32] stuartpreston commented on #26
Is it also possible you are being a firewall blocking public access to port TCP/5985?

[2016-04-22 20:02] MELLENS commented on #26
Was the powershell I copied from the ec2 demo kitchen config I think.  Pulling that out worked well.  I'll try and RTFM a few more times before asking for user names etc.  Closing this.

[2016-04-22 20:02] #26 closed

[2016-06-08 16:26] msghaleb opened #28 "Security Group"
Hi Guys,

thanks for the great work!

how about the security group? I use Test Kitchen to trigger ansible and test few things on the box, however without the correct ports opened its not possible.

How to you deal with this part?

Regards,

MG

[2016-06-08 16:57] stuartpreston commented on #28
Hi there. The public IP is directly bound to the NIC. There are no NSG in force here. So any port open on the created node is available to the public internet. Beware of this but hope it helps!

[2016-06-09 02:42] msghaleb commented on #28
Thank you!

[2016-06-09 02:42] #28 closed

[2016-06-09 03:34] msghaleb commented on #14
Hi,

I've replaced few lines between line 297 and 313 and its working for me, currently when I provision a windows box the ps1 script works fine.

I replaced version 1.4 with 1.7 and added to the settings section the name and the url of the PS1 script.

ideally this would be arguments.

ref: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-extensions-customscript/

[2016-06-09 04:50] stuartpreston commented on #14
This is a great script, we should look at integrating it into the driver so there are no external dependencies on it. Can you let me know the source of this script so I can provide proper attribution?

[2016-06-09 07:05] msghaleb commented on #14
sure! I've added it already to the original post ;-)

source: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-extensions-customscript/

[2016-06-09 22:03] stuartpreston commented on #14
@msghaleb Sorry I meant the source of the .ps1 script - it looks like it is from here: https://github.com/ansible/ansible/blob/devel/examples/scripts/ConfigureRemotingForAnsible.ps1 and is under a GPLv3 license.

[2016-06-10 13:41] russellseymour opened #29 "Using `kitchen destroy` does not delete the resource group in Azure"
I have created an Azure specific kitchen configuration file to perform integration tests.  The file is called `.kitchen.azure.yml`.  The machine was created properly when the following was run:

[code]

However there was a mistake in the tests so the machine is still running.  I wanted to remove the machine and the resource group that had been created.  I thought that running the following command

[2016-06-10 18:10] stuartpreston commented on #29
Hey Russell, what makes you think this is driver specific behaviour? What was the output when you ran kitchen destroy? Also do you have any suggestions or thoughts how to resolve? As far as I know kitchen only maintained one state file, which it must use to get the resource group name to destroy. Not sure whether the fix would be here or in TK itself...

[2016-06-10 18:42] msghaleb commented on #14
@sturartperston ah ok :-) yes you are right this is ansible script. but best would be if you can add 2 more paramerts so that the user can overwrite it with the default values of the once above. What do you think? I assume some other tools may need different scripts so you can give the user the choice. If he didn't supply anything will failover to this script.

Again great work!

[2016-06-24 19:35] smurawski commented on #29
@russellseymour At least lately, it seems like resource group deletion takes quite a while.  Since this is an async action from the driver to Azure, the kitchen command returns right away but the destroy in Azure may take a while (I've seen it take 15 minutes or so).

However, once the state file (which @stuartpreston referenced) is updated, the name of the resource group is gone from kitchen's me

[2016-06-25 20:33] stuartpreston commented on #23
I'm going to close this for now, in favour of something I'm adding soon that will let you use a secondary ARM deployment prior to testing with InSpec.  This will open up (e.g.) testing of PaaS resources with testing coordinated through a single node (and can also be used for any custom connectivity or environment requirements you may have too).  Hope that's ok.

[2016-06-25 20:33] #23 closed

[2016-06-25 20:37] stuartpreston commented on #29
Yes the core problem is that the suite is the lifecycle container for the Azure resources, where you want it to be a composite of the configuration and the suite.

I wonder if there's a hacky workaround using a unique name for your suites like ```<% ENV['KITCHEN_YAML']-default``` but anyway I don't think there's anything specific to do in the driver so I'm going to close this for now.  Let's chat

[2016-06-25 20:37] #29 closed

[2016-06-30 01:03] smurawski opened #30 "Driver should validate that transport can connect before successfully completing."
Several other drivers include

[code]

in their create method to validate that ktichen can, in fact, connect to those instances before returning successfully.  I've hit a few failed converges due to the script extension not completing properly (but not erroring) and have failed to connect as kitchen transitioned into the converge phase.

[2016-06-30 05:04] stuartpreston commented on #30
Hmm. Sounds like something we should be using,.. Saying that, if the script extension doesn't complete properly we want to fail as quickly as possible, so would adding a wait_until_ready add anything here?

[2016-07-21 09:52] dpnl87 opened #31 "Connect on private ip?"
Is it possible to connect on the private ip instead of the public one? We have a ExpressRoute in place. This is on a BGP level which as an by effect blocks our traffic to the public ip addresses.

[2016-07-21 15:01] stuartpreston commented on #31
Not currently but I think if I gave you the ability to specify a VLAN and an attribute in the kitchen.yml to connect to the private IP that would be all you need?  I'll try and have a look in the coming week if you can help test with your ExpressRoute?

[2016-07-22 07:01] dpnl87 commented on #31
Thank you @stuartpreston that would be awesome! 👍

[2016-07-22 14:12] dpnl87 opened #32 "MD5 checksum error on converge"
While running a converge of a newly created 2012r2 image it fails with an MD% mismatch error:

[code]

[2016-07-22 16:37] dpnl87 commented on #32
If only I checked the version of test-kitchen first. Upgrading was the fix.

[2016-07-22 16:37] #32 closed

[2016-08-07 13:50] stuartpreston commented on #31
Hi @dpnl87 - please update your kitchen-azurerm (any version from 0.5.0) and give this a try.  You can now specify a ```vlan_id``` and ```subnet_id``` - [example config](https://github.com/pendrica/kitchen-azurerm#kitchenyml-example-4---deploy-vm-to-existing-virtual-networksubnet-use-for-expressroutevpn-scenarios)

[2016-08-16 22:22] moshezvi opened #33 "problem when installing via chef on ubuntu 14"
When trying to install the gem in chef (using chef_gem) I get the following error:
[code]

Seems like 0.5.0 still uses the old ms_rest (0.1.2), and this conflicts with newer requirements for ms_rest_azure.
gem version: 2.1.11

[2016-08-21 09:35] stuartpreston commented on #33
@moshezvi Thanks for the report, I will try and repro - what version of ChefDK were you running?  I am going to try and push an updated version that uses the latest ms_rest bits and avoids the hard dependency.

[2016-08-22 13:29] stuartpreston commented on #31
Hi @dpnl87 I left this open for a couple of weeks but guess you haven't been able to try yet.  I will close this thread for now, please open a new issue if you have problems getting it working...

[2016-08-22 13:29] #31 closed

[2016-08-22 13:31] stuartpreston commented on #33
I just upgraded all the dependencies to use the latest dependencies.  Hopefully I have picked a dependency high enough up the chain to avoid this problem in future.  Any build from 0.6.0 upwards on RubyGems has this fix in.  I will close this for now, please open a new ticket if you continue to have dependency problems.

[2016-08-22 13:31] #33 closed

[2016-08-22 13:33] stuartpreston commented on #30
I had a look at this for the latest build but decided to go with my own option to fail faster rather than make people wait.  If you strongly believe otherwise let's chat :)

[2016-08-22 13:33] #30 closed

[2016-08-22 14:00] dpnl87 commented on #31
I completely missed your first ping @stuartpreston :(. I've tested with 2 different subscriptions and both work fine now! Thnx for the effort! 👍

[2016-08-29 21:52] smurawski commented on #30
Sorry I didn't get back to you sooner.  What the `wait_until_ready` does is validate that winrm (or whatever transport) can actually connect to the provisioned instance.  It doesn't add much overhead, but makes sure the move from create to converge will be able to proceed.  It's not a huge deal to me, but I'm not using it a lot at the moment (working on a different project currently).

[2016-08-29 21:54] stuartpreston commented on #30
I can tell ;-)
I'm making a bunch of changes in that area so will look at incorporating it into the next build :-)

[2016-09-09 17:45] vikrant-wagh opened #34 "SSL validation error while running kitchen converge"
I am trying to run kitchen converge on a Windows Server 2012 R2 machine, I am getting following error
Failed to complete #create action: [SSL_connect returned=1 errno=0 state=SSLv3 read server certificate B: certificate verify failed] on default-windows2012-r2

kitchen diagnose runs fine. I also checked the details in ~/.azure/credentials file. I think they are valid.

[kitchen-converge-log.txt](h

[2016-09-09 17:58] stuartpreston commented on #34
Please can you remove the winrm_powershell_script configuration and retry?

Failing that you may need to revert to a previous version of Test Kitchen (<1.12) - the latest version pulls in the latest winrm gem which I can not yet tested.

On Fri, Sep 9, 2016 at 6:46 PM +0100, "vikrant-wagh" <notifications@github.com<mailto:notifications@github.com>> wrote:

I am trying to run kitchen converge on a

[2016-09-09 18:09] vikrant-wagh commented on #34
First I didn't have the PowerShell winrm script but I was getting same error. I added that script to see if it works with overriden winrm settings.

I will revert kitchen-azurerm version and try.

Thanks a lot for the prompt response.

[2016-09-12 07:26] vikrant-wagh commented on #34
I reverted the version, still I am facing same issue. I am attaching the log and my Gemfile.

[kitchen-converge-log-20161112.txt](https://github.com/pendrica/kitchen-azurerm/files/466720/kitchen-converge-log-20161112.txt)

[2016-09-12 17:59] nexus49 opened #35 "Access to pre_deployment_template outputs"
I did not see this being mentioned in the docs, but is there a way to access output values from the pre_deployment template?

What i am trying to achieve is to create a storageaccount in the template and then make use of the storage key in the recipe. Would you have a recommendation on how to do that?

[2016-09-12 18:05] stuartpreston commented on #35
There is not a way to do that currently I'm afraid, output values from the ARM template are disregarded.  One option may be to make the output values available to your recipe via environment variables somehow, would that suit your scenario?

[2016-09-12 18:16] nexus49 commented on #35
Hm, not sure i understand how to achieve that. Lets assume i have a template that creates a storage account, similar how you create the SQL server in the example 3.

How would i hook into the test instance creation from kitchen to provide additional environment variables that would contain the storage key?

[2016-09-12 18:21] stuartpreston commented on #35
Sorry, I was discussing a possible future enhancement to achieve this - it is not possible today and would require some development on the driver (and possibly in core to allow reloading of the configuration mid-way through a command).

[2016-09-12 18:27] nexus49 commented on #35
Ah I see - well i think it may be a common use case that a recipe has certain attributes that it uses, that cannot be statically provided during a kitchen test - the storage key is a good example for that.

One solution that would work, if those template outputs are loaded in the node attributes - this would allow me to add another recipe in the test suite to set the attributes to where i need the

[2016-09-12 21:29] nexus49 commented on #35
Ok i solved it for now, to setup that needed storage account on a different resource group manually. That way i can just configure the key in kitchen as an attribute. Downside to this is that this storageaccount is always existing and not destroyed/created for a recipe on test.

[2016-09-14 14:46] stuartpreston commented on #34
Looking at the converge it's failing to connect the management API.  This is controlled by the following URL that should be visible by doing a ```kitchen diagnose --all``

[code]

Can you use your local browser to connect to https://management.azure.com to see if there are issues?

[2016-09-14 15:21] vikrant-wagh commented on #34
I think this issue is because of my office firewall. Working fine with my home network. I am able to work with test-kitchen-1.12.0.

[2016-09-14 15:24] stuartpreston commented on #34
That's good, I was also going to report that I've tested the driver with test kitchen 1.12 and it seems ok.  You may be able to adjust your HTTP_PROXY settings in the office.

I shall close this issue for now.  Please open a new issue if you continue to encounter problems.

[2016-09-14 15:24] #34 closed

[2016-09-24 01:34] anniehedgpeth opened #36 ""Couldn't login to Azure, please verify your tenant id, client id and client secret""
Hi Stuart!

I followed your directions to set up a credentials file with the subscription id, client id, client secret, and tenant id, however I keep getting this error when I try to run `kitchen create` like it can't find my credentials:

`"Couldn't login to Azure, please verify your tenant id, client id and client secret"`

Could it be an issue that I'm on a Mac?

Thanks!

[2016-09-24 05:07] stuartpreston commented on #36
Hi Annie! That's strange. It's usually one of the following things:

- credentials file needs to be saved in ~/.azure/credentials in UTF8 format (use Visual Studio Code to verify and switch encoding if not)
- Subscription ID needs to be surrounded with square brackets [ ] on the first line of the file.
- Service Principal is not created correctly in Azure (check you can login using the azure login

[2016-09-30 10:47] stuartpreston commented on #36
Closing as resolved offline.

[2016-09-30 10:47] #36 closed

[2016-11-10 16:06] mattstratton opened #37 "kitchen create fails with permission error"
I'm using the latest `kitchen-azurerm`.

Here's my `.kitchen.yml`
[code]

My `~/.azure/credentials` file looks like this (password redacted):

[code]

I have given the service principal "Owner" rights on the subscription (I had tried with Contributor before, but it didn't work):

[code]

And I get a security error on `kitchen converge`

[code]

I am able to manually create items inside the portal,

[2016-11-10 16:12] glennmate commented on #37
Seen this one before, if I recall it's due to service principal permissions.

Via Azure powershell:
[code]

Should ensure that your service principal has the appropriate permissions.

[2016-11-10 16:49] mattstratton commented on #37
Actually, I had the proper permissions, but i had tried to run create before doing that, so the existing resource group needed to be deleted (and the state file in `.kitchen/` directory.

All good now!

[2016-11-10 16:49] #37 closed

[2016-12-04 05:44] RamblingCookieMonster opened #39 "Various actions fail: [Failed to open TCP connection to login.microsoftonline.com:443 (getaddrinfo: nodename nor servname provided, or not known)]"
Hi!

Might just be me doing something silly given the hour, but keep running into this on `kitchen converge`:

[code]

Everything appears to have been created.

Interestingly, I get the same error when destroying, and at least in the three times I've run this, it succeeds after a second run:

[code]

Any tips?  Will dive into the source tomorrow, but I'm a bit perplexed!

Cheers!

[2016-12-04 15:03] RamblingCookieMonster commented on #39
Quite strange.  No issues today.  Chalking this up to something between my client and AzureRM last night... Cheers!

[2016-12-04 15:03] #39 closed

[2016-12-04 15:06] RamblingCookieMonster opened #40 "PowerShell Environment issue with ~"
Hi!

Some code I'm using calls `~`.  I get the following error on initial converge:

[code]

This only happens on initial run.  If I run converge a second time, it resolves correctly.

I'd prefer to use `~` given that it should work across platforms, but, will change to `$ENV:UserProfile` for now (that variable does exist)

Cheers!

[2016-12-09 07:38] glennmate opened #41 "WinRM timeout in test-kitchen on Windows"
I'm currently using a homegrown cookbook to install Nodejs for windows. I can then use a community LWRP to install npm packages on Windows.  To cover my bases, I've linked my issue on the community cookbook as well here: https://github.com/redguide/nodejs/issues/148

Using test-kitchen `kitchen converge -l debug`, when using resource `nodejs_npm 'gulp'` I find the debug output:
[code]

If I let it

[2016-12-11 19:27] glennmate commented on #41
After digging through, this is an issue with upstream code it appears, not with the driver. Closing the ticket. Apologies for opening an unneeded issue :)

[2016-12-11 19:27] #41 closed

[2016-12-23 09:24] stuartpreston commented on #35
I'm going to close this for now as you have a workaround but I've noted the requirement in case I see an easy way to accomplish this later.

[2016-12-23 09:24] #35 closed

[2017-01-04 20:07] hbuckle opened #43 "Option for post-deployment template"
It would be nice to have an option to apply a post-deploy arm template to do things like add additional disks, VM extensions, NSGs etc.

[2017-01-04 20:24] stuartpreston commented on #43
That's an interesting idea, so to be clear you would want the post-deploy arm template to do the same as the pre-deployment template, in the same resource group as the created resources?

[2017-01-05 08:42] hbuckle commented on #43
Yes thanks, exactly that - it would be really useful for us to make the test VMs look more like production by applying some post deploy config.

[2017-01-05 15:53] stuartpreston commented on #40
I'm closing this issue for now - none of the WinRM code is in this project.  If it becomes a real issue for you I'd recommend raising in the https://github.com/test-kitchen/test-kitchen project.  Thanks.

[2017-01-05 15:53] #40 closed

[2017-01-16 20:16] stuartpreston commented on #14
This has been fixed by #44 - Windows 2008 converges are now possible!

[2017-01-16 20:16] #14 closed

[2017-02-25 10:06] elmundio87 opened #45 "undefined method `local_variable_set' when running "kitchen test""
Platform: macOS 10.12.3
Gem version: kitchen-azurerm (0.8.0)

When I try and run `kitchen test` this is the output I get;

[code]

My .kitchen.yml file

[code]

Results of `bundle list`

[code]

Contents of .kitchen/logs/kitchen.log

[code]

[2017-02-25 10:33] elmundio87 commented on #45
OK I've solved it, it seems to be to do with the version of Ruby I was running (2.0.0) - I compiled ruby-2.3.1 from source and I'm no longer getting this error.

[2017-02-25 10:33] #45 closed

[2017-03-16 01:58] keyrage opened #47 "Exception thrown when an Azure SubscriptionID cannot be found"
The following exception gets thrown when a Azure SubscriptionID is not set as an environment variable in Windows when it is referenced in a kitchen.yml file. Really a warning or human readable error should be thrown instead of an unhandled exception.

----
Failed to complete #create action: [undefined method `[]' for nil:NilClass]

------Backtrace-------
E, [2017-03-16T12:41:28.721357 #15264] ERRO

[2017-04-28 16:41] karstenmueller opened #48 "Should not require ~/.azure/credentials"
The driver should not require the file ~/.azure/credentials. I am using environment variables in for CI, so the credential file is not needed.

-----
sh -c kitchen test -c 1 --destroy=always
-----> Starting Kitchen (v1.16.0)
WARN: Unresolved specs during Gem::Specification.reset:
      octokit (~> 4.0)
WARN: Clearing out unresolved specs.
Please report a bug if this causes problems.
-----> Cleanin

[2017-04-28 20:32] stuartpreston commented on #48
Hi @karstenmueller - I checked the code and this is a "warn" level message.  Can you confirm whether the lack of the file causes an issue besides the warning?

[2017-05-02 11:15] karstenmueller commented on #48
Hi @stuartpreston - sorry, you are right. It is a warning only. So I have to look further for the cause of my error;)

[2017-05-02 11:15] #48 closed

[2017-05-25 16:13] tdemeester opened #50 "optional pre/postfix creating the resource group"
it would be nice to be able to pre/postfix the resource group name so it can comply with naming standards within an organisation. could be extended to support further naming conventions on other resources.

thought for solution:
could be via a config file in the .azure folder

[2017-05-25 16:59] tdemeester commented on #50
in code i found you can change the resourcegroupname using the driver_config ```azure_resource_group_name```

I will update the readme with an example of this.

[2017-05-29 14:02] stuartpreston commented on #50
Good idea, I'll leave this on the backlog for now

[2017-06-20 13:22] elconas opened #51 "Add support for custom Image"
Hello,
we want to QA against a custom image that we have created (a IMAGE.vhd file). Can support for custom IMAGE.vhd be added ?

Regards,
Robert

[2017-06-23 13:20] elconas commented on #51
I started working on it and also fixed various issues. The implementation will add:

- Support for Managed Images
- Support for Private OS Images (VHD) in existing Storage Account

It will fix / add:

- Add suffix to osdisk-xxxx name when using existing storage account
- Fix Azure Germany

[2017-06-23 13:46] elconas commented on #51
Added Pull Request for this feature

[2017-06-23 20:39] elconas opened #53 "Add support for custom-data"
Hello,
currently the provisioner does not support custom data. This may be helpful to run provisioning scripts on the machines.
Regards,
Robert

[2017-06-23 23:43] stuartpreston commented on #51
This is great work, thanks very much for the contribution.  I'll get it merged as soon as I can!

[2017-06-24 08:50] iaingblack opened #54 "Resourcegroup could not be found - issue creating resourcegroup because of default name?"
Hi there,

Sorry, but am i doing something wrong here or is there a problem. My .kitchen.yml file is this;

[code]

But on running kitchen test i get this error. Below. Interestingly I try and create the resourcegroup name "kitchen-default-windows2012-r2-20170624T080014" manually in my subscription and it will not allow it as it has a trademarked or copyrighted name in it (im guessing windows).

[

[2017-06-24 14:40] elconas commented on #53
I added support for custom data in https://github.com/test-kitchen/kitchen-azurerm/pull/52

[2017-06-25 13:05] elconas commented on #54
Can you rename the platform to 'win2012-r2' an give it a try ?

[code]

Alternatively you can rename the resource group:

[code]

[2017-06-26 09:44] iaingblack commented on #54
Many thanks, that worked. I should have said that I copy/pasted that example from the readme.md, so it wont work by default. I've put in a pull request with the change so others don't get bitten by it. Thanks!

[2017-06-26 09:44] #54 closed

[2017-06-29 10:27] elconas opened #56 "Add support for os disk size"
Currently the provisioner does not support OS Disk Size specification. (e.g. resize the OS Disk). Resource Manager does support this.

[2017-06-29 10:41] elconas commented on #56
Added this feature in https://github.com/test-kitchen/kitchen-azurerm/pull/52

[2017-06-29 18:04] elconas commented on #51
Any idea when you release ?

[2017-06-30 15:33] #51 closed

[2017-06-30 15:53] stuartpreston commented on #53
I merged all the changes and attempted to test and prepare the release, when I try and create a Windows instance which has no customData element in the YAML I get the following error:

[code]

Am going to have a look but it may take a little while.

[2017-06-30 16:13] elconas commented on #53
Can you post the yaml, so I can fix it

[2017-06-30 17:14] elconas commented on #53
Fixes this in https://github.com/test-kitchen/kitchen-azurerm/pull/57

[2017-07-03 13:21] stuartpreston commented on #56
Thanks very much for this contribution!

[2017-07-03 13:21] #56 closed

[2017-07-03 13:21] stuartpreston commented on #53
Thanks very much for this contribution!

[2017-07-03 13:21] #53 closed

[2017-07-20 10:14] luke-vidler opened #58 "[uninitialized constant MsRestAzure::AzureEnvironments::Azure]"
Getting this error when running 'kitchen-create'.

Anything obvious?

Mac OSX 10.12.5
CHefDK 1.5.0
kitchen 1.16.0

[2017-07-20 14:09] elconas commented on #58
Reason is this commit https://github.com/Azure/azure-sdk-for-ruby/pull/711
in the azure_mgmt_network gem

Release 0.7.0 = OK
Release 0.8.1 = Broken

To fix it, follow the rename and pin the versions in the gemspec

[2017-07-20 14:10] elconas commented on #58
To fix: downgrade ms_rest_azure to 0.7.0 and uninstall other versions.

[2017-07-20 14:18] elconas commented on #58
Seems this one fixes it https://github.com/test-kitchen/kitchen-azurerm/pull/59

[2017-07-20 15:22] stuartpreston commented on #58
Sorry about that, this was because of a the breaking change in [Azure/azure-sdk-for-ruby#711](https://github.com/Azure/azure-sdk-for-ruby/pull/711) as well as our version pinning strategy being quite open.  This is fixed in kitchen-azurerm version 0.11.0 that is now on RubyGems.

[2017-07-20 15:22] #58 closed

[2017-08-02 18:21] krishus opened #60 "How to create extra disk to test-kitchen VM"
I was wondering does chef test-kitchen for azure support creating extra disk??. If so what step I need to add in .kitchen.yml file??

[2017-08-03 10:03] stuartpreston commented on #60
Hi @krishus - no, this is currently not supported. Do you have a requirement to add additional disks?  How would you like to see it represented in the .kitchen.yml?  Would you like 1 disk or more than 1?  Would they be Managed Disks or unmanaged (Storage Account) disks?

[2017-08-04 20:24] krishus commented on #60
oh okay. Actually we have a option to add OS disk right by using os_disk_size_gb in .kitchen.yml. In that way if possible I would like to add one or more data disks to my test-kitchen instance whatever it is managed or unmanaged disks.....

[2017-08-10 15:16] bcolebank commented on #60
We have the same need to add additional disks via Test Kitchen.
We typically use managed disk for our systems in Azure.
We need the ability to add 1 as well as more than 1 for different machine configuration.

[2017-08-10 16:20] bcolebank opened #61 "Authenticate via certificate instead of password"
It appears that the AzureRm will not allow using a certificate instead of a password for connecting to Azure to deploy machines.

~/.azure/credentials
[MySubscriptionId]
client_id = "ApplicationIdForMyAzureRunAsAccount"
client_secret = "ThumbprintForMyAzureRunAsAccount"
tenant_id = "TenantIdForMyAzureRunAsAccount"

Log snippet:
E, [2017-08-10T10:43:48.624712 #39524] ERROR -- Kitchen: ---Nested Exc

[2017-08-11 12:09] alinefr opened #62 "Windows Server (2012-r2|2016): The value of parameter windowsConfiguration is invalid."
With the same .kitchen.yml as example 2 on README.
[code]
It seems image_urn is been ignored from .kitchen.yml

kitchen diagnose --all shows me:
[code]
My .kitchen.yml
[code]

[2017-08-11 13:02] alinefr commented on #62
Sorry, it was a mistype: drive_config | driver_config.

[2017-08-11 13:02] #62 closed

[2017-08-11 14:39] stuartpreston commented on #61
Hi - this is correct as far as I understand the underlying SDK does not support providing a certificate thumbprint here.  Do you have a service principal with associated certificate and do you have the steps you took to associate the certificate I can follow to make sure I'm doing the same as you?

[2017-08-16 18:28] stuartpreston commented on #60
I've been working on some of this.  Where I'm at right now is that you can specify a list of data_disks in your `.kitchen.yml` like so:

[code]
On Windows, in addition to configuring WinRM, we will also initialize and format these disks, starting from drive letter F: (drive D: being your temporary disk and drive E: usually being reserved for CDROM).

![image](https://user-images.githubusercontent.

[2017-08-16 18:57] stuartpreston commented on #50
This will be available in the next release 0.12.  You'll be able to do something like the following (as well as overriding `azure_resource_group_name` if you wish (though I recommend not doing so because it is calculated from the suites you have in your config):

[code]

![image](https://user-images.githubusercontent.com/6384654/29380234-f69b16e8-82bc-11e7-932e-c568151e92d5.png)

[2017-08-17 14:37] krishus commented on #60
Thank you @stuartpreston that would be awesome!

[2017-08-21 15:15] abmptit commented on #60
Hi @stuartpreston , since each version adding disk is working on kitchen ?
I'm trying to add serate disk with ubuntu 16 with this conf :
PS > chef -v
Chef Development Kit Version: 2.0.26
chef-client version: 13.2.20
delivery version: master (17c1b0fed9be4c70f69091a6d21a4cbf0df60a23)
berks version: 6.2.0
kitchen version: 1.16.0
inspec version: 1.30.0
Thanks.

[2017-08-22 09:53] stuartpreston commented on #60
Version 0.12.0 will be the first version to support the additional disks. Look out for it in the next 1-2 weeks.

[2017-08-24 18:19] rokka-n opened #63 "Environmental variables have no effect on drive configs"
Hi,

I was trying to set up an example with env variables, but it's not possible since ~/.azure/credentials is a hardcoded requirement

[code]

Would it make sense for standard env work as in any kitchen config?

Thanks!

[2017-08-25 02:43] bcolebank commented on #60
That is great news!

On Aug 22, 2017 4:53 AM, "Stuart Preston" <notifications@github.com> wrote:

[2017-08-26 14:21] jimontheriver opened #64 "Using template for the VM you're testing?"
I'm brand new to Chef in general, so there's every chance this me just being oblivious:

Is it possible to use your own template for the VM that is being tested? Alternately (for my immediate problem) how would I add data disks?

The Predeployment template works fine for me, but it also seems to try to always create another VM to use as the one being tested. I don't see how you change the template

[2017-08-30 17:16] stuartpreston commented on #63
Hi @rokka-n - you should be able to set the environment variables other than subscription_id into your environment/command line without using ~/.azure/credentials - is this not working for you?

[2017-08-30 17:22] stuartpreston commented on #64
@jimontheriver Data disk support for Managed Disks is coming very soon (this week) so hopefully we can cover that off for you.  I have resisted allowing people to change the VM template deliberately - there's actually a lot of combined logic when you look at the options that are customizable in the template (tags, names, storage account types, private/public IP addresses etc.) and I just know that

[2017-08-30 17:31] roman-cnd commented on #63
No, couldn't get it working with env vars.

[2017-09-01 14:11] anniehedgpeth commented on #60
Hey @stuartpreston , just wanted to check in and see how this is coming along? No rush at all! I just wanted to gauge how I should time my Jira issues related to this. :)

[2017-09-01 15:03] stuartpreston commented on #60
This has just been released to Rubygems as version 0.12.0 - I look forward to your feedback!

[2017-09-01 15:03] #60 closed

[2017-09-01 15:04] stuartpreston commented on #50
This has now been released in 0.12 - please update your kitchen-azurerm to make use of it

[2017-09-01 15:04] #50 closed

[2017-09-08 14:16] nhudacin commented on #60
You are awesome! Thank you for this!

[2017-09-08 19:00] mtyler opened #65 "undefined local variable when using pre_deployment_template"
Running `kitchen converge` with pre_deployment_template results in

undefined local variable or method `post_deployment_name'

Appears to come from this:
https://github.com/test-kitchen/kitchen-azurerm/blob/master/lib/kitchen/driver/azurerm.rb#L215

[2017-09-10 13:40] stuartpreston commented on #65
Hi @mtyler this was fixed in 0.12.1 - please update your `kitchen-azurerm` gem and retry. Thanks!

[2017-09-10 13:40] #65 closed

[2017-09-15 20:11] huckj opened #66 "VM with data disks can't deploy to existing vnet/subnet"
I am able to successfully create a test-kitchen VM that targets an existing vnet/subnet.  I am also able to successfully create a test-kitchen VM that has data disks attached.  If i try to combine the scenarios and create a VM with data disks in an existing vnet/subnet, test-kitchen fails with the below exception.  It appears that in this combined scenario, the JSON for adding the data disks is be

[2017-09-18 19:53] huckj commented on #66
Had a closer look at this and it appears that /templates/internal.erb is executed when deploying to an existing vnet/subnet, and that the code for adding adding data disks is in the "diagnosticsProfile" section (lines 330-333) and not the "storageProfile" section where it ought to be.  It's probably very straightforward, but I don't know my way around Ruby well enough to fork/fix it.  thought I'd

[2017-09-20 17:21] #66 closed

[2017-09-20 18:04] stuartpreston commented on #66
This should be fixed in Release 0.12.2 available on Rubygems.

[2017-09-22 15:47] huckj commented on #66
Yes!  I grabbed the new gem yesterday and tested.  Thanks!

On Wed, Sep 20, 2017 at 11:04 AM, Stuart Preston <notifications@github.com>
wrote:

[2017-10-12 16:50] stuartpreston commented on #64
Managed Disks support was released so I'm closing this issue.

[2017-10-12 16:50] #64 closed

[2017-10-12 16:55] stuartpreston commented on #63
@roman-cnd Just to be clear, did you try setting the environment variables `AZURE_TENANT_ID`, `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET` in your shell prior to running Test Kitchen?

The following section of your kitchen.yml is not valid:
[code]

[2017-10-12 16:57] roman-cnd commented on #63
I've set up those vars, but they were named differently (`VAR_tenant_id` etc)

[2017-10-12 16:59] stuartpreston commented on #63
Like I say, you cannot supply `tenant_id`, `client_id`, or `client_secret` via your kitchen.yml.  You must explicitly set the environment variables using the names shown (`AZURE_TENANT_ID`, `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET`) in your environment prior to running Test Kitchen.

[2017-10-12 17:01] roman-cnd commented on #63
I see, thank you for the clarification!
I'll test it when I have a chance to work with azure provider next time.

[2017-10-13 10:23] stuartpreston commented on #63
I retested from my side and everything works as expected here. Please reopen this issue if you continue having problems.

[2017-10-13 10:23] #63 closed

[2017-11-06 16:43] ptoluganti opened #68 "cookbooks not uploading"
driver:
  name: azurerm
provisioner:
  name: chef_zero
verifier:
  name: inspec
platforms:
  - name: windows2012-r2
    driver_config:
      image_urn: MicrosoftWindowsServer:WindowsServer:2012-R2-Datacenter:latest
transport:
  name: winrm
  elevated: true
suites:
  - name: default
    run_list:
      - recipe[sample::default]

directory structure
--------------
metadata.rb
README.md
chefignore
Be

[2017-11-07 10:52] ptoluganti commented on #68
Its is working when i Uninstall and Re Installing ChefDK.

[2017-11-07 10:52] #68 closed

[2017-11-13 15:48] stuartpreston opened #69 "Modern test kitchen examples should only use driver, not driver_config"
`driver_config` is an alias of `driver` but there's no particular reason to keep it.  We should simplify the documentation by referring to all the driver specific configuration under `driver` instead in the docs.

[2017-11-13 15:50] stuartpreston opened #70 "WinRM username and password specified do not work"
Need to verify the configuration steps in: https://learn.chef.io/modules/local-development/windows/azure/apply-a-cookbook#/ WRT WinRM username and password and update the example or fix the documentation.  Community reports setting username and password underneath `transport` did not have the desired effect and the defaults were used.

[2017-11-21 22:19] anniehedgpeth opened #71 "[[WinRM::FS::Core::FileTransporter]"
I have a cookbook that converges successfully everywhere except on my Windows 10 Jenkins agent, where I get the following output:

[code]

The Jenkins agent that is running Test Kitchen is running Windows 10, and I just updated the ChefDK and `kitchen-azurerm` driver:
[code]

WinRM:
[code]

Here's the `chef gem list`:
[code]

As you can see, I just updated the `winrm-fs` gem. I tested the `winrm`

[2017-11-22 13:10] stuartpreston commented on #71
Hi @anniehedgpeth I doubt this is an Azure issue specifically, but let's track the issue here.  Are you able to update to Test-Kitchen higher than v1.18.0, by installing a newer ChefDK (from the current channel: https://downloads.chef.io/chefdk/current)

A cautionary tale: on my system, even though I have the `test-kitchen` v1.18.0 gem installed, the ChefDK "`kitchen`" command still points to v1.1

[2017-11-22 18:25] mwrock commented on #71
This is a strange one. I've looked at the winrm-fs code to think of what scenario could cause this error and nothing jumps out. The powershell code that is failing runs on the TK node and not on the jenkins agent. If the jenkins agent sent an empty hash to the node, this might happen, but winrm-fs checks for that case before sending anything and skips the remote call if it is empty. So either that

[2017-11-22 21:52] mwrock commented on #71
fixed by https://github.com/WinRb/winrm-fs/pull/59

[2017-11-22 21:52] #71 closed

[2017-12-08 07:03] danielprashanth opened #72 "azure subscription id nil for kitchen create"
I have used kitchen version  0.12.4 , when i tried to create kitchen instance with azure-rm driver , im getting an error saying azure_subscription id is NIL even though i have set my subscription id in environmental variables as well as in credentials file in utf-8 encoding format

[2017-12-26 11:20] stuartpreston commented on #72
Sorry for not seeing this sooner, please can you post your kitchen.yml?  Have you created your credentials file in `~/.azure/credentials` ?

[2017-12-26 11:28] stuartpreston opened #73 "Switch to new Microsoft telemetry system"
Microsoft have requested that ISVs switch to an alternative approach to track Azure consumption.  Instead of the current mechanism that requires us to tag individual resources with a provider 'tag', we are required to submit an empty deployment with a updated Guid, example implementation:

[code]

[2017-12-26 11:34] #73 closed

[2018-02-02 23:27] sh33ner commented on #70
I've been trying to use the winrm transport, and I can't even get the default username and password in the driver to work.

[2018-03-09 23:27] anniehedgpeth opened #75 "Azure limits"
I kept getting this error when running my cookbooks on the Jenkins agent, to which I don't have access to logs.

[code]

I later found out it wouldn't provision because I was running up against limits to my subscription, but it would have been nice to get some error logging telling me that. I don't know if that's even possible, but I just thought I'd ask. :)

[2018-03-15 15:25] DanielCCotter opened #76 "Data_munger error undefined method `rmerge' for #<Array:0x00000000067270f8>"
Hello I am receiving the below error, I am new to chef.

[code]

.kitchen.yml
[code]

[2018-03-15 15:36] cheeseplus commented on #76
I think this is mostly formatting issues:

[code]

[2018-03-15 15:44] DanielCCotter commented on #76
Thanks Seth this has moved me along however I now get this error
data_munger.rb:366:in `convert_legacy_driver_format_at!': undefined method `key?' for [:name, "default"]:Array (NoMethodError)

---
driver:
  name: azurerm

driver_config:
  location: 'East US'
  machine_size: 'D2s_v3'

transport:
  ssh_key: ~/.ssh/id_kitchen-azurerm

provisioner:
  name: chef_zero

verifier:
  name: inspec

platform

[2018-03-15 15:47] cheeseplus commented on #76
Looks like I missed the formatting in `suites`:

[code]

I fixed the snippet above to be correct as well.

[2018-03-15 15:59] DanielCCotter commented on #76
Hey,
This looks like it has moved me along I really appreciate your help. I am new to yml formatting.
I am now getting a different error :-(
Any help would be awesome.
-----> Starting Kitchen (v1.20.0)
-----> Creating <default-ubuntu-1604>...

I ran a diagnose --all
---
timestamp: 2018-03-15 15:54:55 UTC
kitchen_version: 1.20.0
plugins:
  driver:
    Azurerm:
      class: Kitchen::Driver::Azurerm

[2018-03-15 16:03] DanielCCotter commented on #76
you can ignore this - could be a credfile issue

[2018-03-15 16:03] #76 closed

[2018-03-19 15:43] scolligan opened #77 "Test Kitchen fails to connect to Windows 2008 R2 until Enable-PSRemoting is manually executed"
** Adding this issue per convo with @stuartpreston on Chef Slack Channel **
** https://chefcommunity.slack.com/archives/C5GU3P9AM/p1521330357000031 **

I've been trying to test against a Windows 2008 R2 instance on Azure and found that it fails to connect with the following error:

[code]

[2018-03-19 17:13] cheeseplus commented on #77
As a note we do this in kitchen-ec2 https://github.com/test-kitchen/kitchen-ec2/blob/master/lib/kitchen/driver/ec2.rb#L645-649

[2018-03-19 17:44] stuartpreston commented on #77
I remembered how we do this now, or certainly used to. The driver exposes a setting `winrm_powershell_script`. This can be overridden from your .kitchen.yml

We used to document this in the readme but we removed it for some reason. Here’s the commit that adds a Windows 2008 R2 example to the readme:

https://github.com/test-kitchen/kitchen-azurerm/commit/1351c44d9574a7e737cc19409d1ffad1f1cd70b2#di

[2018-03-22 21:30] scolligan commented on #77
Thanks Stuart, I tested this on Windows 2008 R2 today and was able to use the settings you referenced to get it to connect successfully.

[2018-03-26 15:43] stuartpreston commented on #77
Great, glad you were able to get it working!

[2018-03-26 15:43] #77 closed

[2018-04-21 10:15] stuartpreston commented on #69
Updated readme.

[2018-04-21 10:15] #69 closed

[2018-04-22 02:29] mrala opened #79 "Azure environment no longer sets correct management endpoint"
It seems the [0.14 release](https://github.com/test-kitchen/kitchen-azurerm/blob/v0.14.0/lib/kitchen/driver/azurerm.rb#L188-L189) does not set the correct management endpoint. It was being set correctly in [0.13 as seen here](https://github.com/test-kitchen/kitchen-azurerm/blob/v0.13.0/lib/kitchen/driver/azurerm.rb#L187-L189).

The `azure_environment` config option in test-kitchen is set to `Azure

[2018-04-30 20:10] tpetchel commented on #70
I maintain the Learn Chef module mentioned above. I discovered that making the password slightly more complex (`L34rnCh3f` => `L34rnCh3f!`) helped get things working. I'll post an update to the module as soon as possible.

As for the default password, it makes sense that it might not work because `P2ssw0rd` does not contain any symbols.

I don't know what, if anything, has changed in between this

[2018-04-30 20:12] sh33ner commented on #70
I'll take a look and see if that works.  Thanks!

[2018-05-01 18:09] sh33ner commented on #70
@tpetchel I tried using Administrator:L34rnCh3f! in the transport config, and it still failed.

This is transport config I have:
  - name: windowsserver
    driver_config:
      image_urn: MicrosoftWindowsServer:WindowsServer:2016-Datacenter:latest
    transport:
      name: winrm
      elevated: true
      username: Administrator
      password: L34rnCh3f!

[2018-05-01 20:50] cheeseplus commented on #70
@sh33ner could you repost/edit that with formatting/code fences so we can see the tabbing? YAML is pretty picky about these things so it might be something like an alignment issue.

[2018-05-01 20:57] sh33ner commented on #70
`  - name: windowsserver
    driver_config:
      image_urn: MicrosoftWindowsServer:WindowsServer:2016-Datacenter:latest
    transport:
      name: winrm
      elevated: true
      username: Administrator
      password: L34rnCh3f!

[2018-05-01 21:08] tpetchel commented on #70
@sh33ner - I tested against 2012 R2. I don't know 2016's password requirements well enough.

[2018-05-09 01:01] reijop opened #80 "Parameter explicit_resource_group_name not honored"
Set the parameter in my .kitchen.yml, and lo, I still see the generated resource-group names.

[code]

And I get this:
[code]

[2018-05-10 09:57] stuartpreston commented on #80
This did not repro for me on the latest version 0.14.0.  Can you make sure your `.kitchen` folder is empty to ensure no state is persisting from a previous session?

My configuration for reference:

*kitchen.yml*
[code]

*output*
[code]

[2018-05-10 11:51] cognsom opened #81 "kitchen-azurerm to test chef provisioned azure hdinsight cluster"
kitchen-azurerm  to test chef provisioned azure hdinsight cluster

Could you please guide in testing chef provisioned azure hdinsight cookbook using kitchen-azurerm

[2018-05-10 12:30] stuartpreston commented on #81
That is not an explicit feature of kitchen-azurerm, sorry.  kitchen-azurerm is just a driver that allows you to create VM resources (and other resources - look for `pre_deployment_template` in the readme).  and executing tests from that VM using the specified verifier.  If you can write a cookbook that wraps up everything you need to test your HDInsight instance from a VM then you could use your A

[2018-05-10 12:30] #81 closed

[2018-05-10 13:27] stuartpreston commented on #79
Thanks for reporting this.  This will be fixed in the next bugfix release 0.14.1

[2018-05-10 13:30] stuartpreston commented on #75
I checked with a couple of people and unfortunately we can't see any way of reporting this.  Unless the message comes back through the ARM API then we can't show the user any info at all.  I'm going to close this for now.

[2018-05-10 13:30] #75 closed

[2018-05-10 13:31] stuartpreston commented on #72
Closing due to age, please re-test against the latest version and open a new issue with the requested information if you continue to have problems.  Thanks.

[2018-05-10 13:31] #72 closed

[2018-05-10 13:36] stuartpreston commented on #70
@sh33ner Are you still seeing a problem here?  If you could post the entirety of your .kitchen.yml then we can have a look.  One thing I spotted is that the use of `Administrator` as a username for an Azure VM is not permitted (see https://docs.microsoft.com/en-us/azure/virtual-machines/windows/faq#what-are-the-username-requirements-when-creating-a-vm).

[2018-05-10 14:14] #79 closed

[2018-05-10 14:16] stuartpreston commented on #61
Closing due to age.  Please reopen if this is a blocker for you.  We still don't have a way of supplying a certificate via the Ruby SDK as far as I'm aware.

[2018-05-10 14:16] #61 closed

[2018-05-10 14:44] stuartpreston commented on #47
This will be fixed in the next release 0.14.1

[code]

[2018-05-10 14:52] #47 closed

[2018-05-14 19:10] reijop commented on #80
Yep.  That unblocked me and solved this issue.  Closing as fixed.

(but I'm about to file a new one for another issue ;)

[2018-05-14 19:10] #80 closed

[2018-05-14 20:32] reijop opened #84 "Clarity requested around behavior of explicit_resource_group_name"
In the documentation, you specify that ``` <this> parameters can be used in scenarios where you are provided a pre-created Resource Group```

But one of the steps appears to be to destroy the RG before attempting to create any VM's.  In the case of a specific, assigned RG, how do you recommend I move forward?

In my case, I'd like to create a single resource group and bind a specific functional us

[2018-05-17 10:45] stuartpreston commented on #84
Hi @reijop
1. You don't need to make the service principal have owner access, contributor access is fine (this will allow the creation and deletion of resource groups from that service principal)

2. Yes, using `kitchen test` the RG would be deleted at some point in the lifecycle depending on the current kitchen state.  You'll have to run the kitchen steps manually in this case, i.e. `kitchen crea

[2018-05-17 10:45] #84 closed

[2018-05-24 16:51] jcoeltjen opened #85 "Explicitly set resource group is deleted on kitchen destroy"
When using the `explicit_resource_group_name` parameter the resource group is used correctly but unfortunately is deleted when `kitchen destroy` is called.
As I use a service principal that only has Contributer permissions on this explicit resource group this is pretty much a deal breaker for me.

I would expect that when I set the resource group explicitly to a pre-created group that this group i

[2018-07-05 14:38] stuartpreston commented on #85
Can you call kitchen converge` (implies `setup`) and `verify` instead of `kitchen test` as a workaround?  A `destroy_explicit_resource_group` option is a good one, will put it on the backlog.  Thanks.

[2018-07-09 09:21] stuartpreston commented on #43
I'm parking this one for now as we have lifecycle hooks in Test Kitchen now, see https://github.com/test-kitchen/test-kitchen/blob/00ef30e4b9b0055afd712fa145727431ed628b10/RELEASE_NOTES.md#life-cycle-hooks

[2018-07-09 09:23] stuartpreston commented on #70
Closing this due to age, please open a new issue if you're continuing to have problems.

[2018-07-09 09:23] #70 closed

[2018-07-09 09:55] stuartpreston commented on #85
This has been added and released via kitchen-azurerm 0.14.2.  A warning will be generated.  Note that the state file will still be removed when kitchen destroy is executed - this is outside the control of the driver.

[code]

[2018-07-09 09:55] #85 closed

[2018-07-09 12:54] jcoeltjen commented on #85
I will try this.
Thank you!

[2018-07-11 19:31] dee3sync opened #89 "Windows 10 kitchen converge: A connection attempt failed because the connected party did not properly respond after a period of time"
Hello,
I am trying to deploy a test kitchen using windows 10.  If I swap the image_urn to `image_urn: MicrosoftWindowsServer:WindowsServer:2012-R2-Datacenter:latest` my kitchen converge works fine but if I use the the windows 10 image urn `image_urn: "MicrosoftWindowsDesktop:Windows-10:rs4-pro:latest"` I receive a connection error. Even if I change the urn to reference rs3 or rs2, the same error o

[2018-07-13 17:29] stuartpreston commented on #89
My guess would be that for some reason the commands to enable WinRM correctly on the Windows Server  give a different response on that Windows 10 image.  Not sure why just yet but I'll try and carve out some time to look into it.

For reference this is the WinRM configuration script that is encoded and run on the machine: https://github.com/test-kitchen/kitchen-azurerm/blob/master/lib/kitchen/driv

[2018-07-13 21:03] jcoeltjen commented on #85
I tried it and it works as documented. But I would propose one change in behavior:

Instead of doing nothing on `kitchen destroy` the `destroy_explicit_resource_group` option should only delete the created contents of the resource group if set to `false`.
But then maybe the name would be confusing.

Maybe we can even add another option `delete_resource_group_contents` instead.
I will open a new is

[2018-07-13 21:11] jcoeltjen opened #90 "Proposal: Option to keep resource group / only delete contents"
I would love to have an additional parameter like `delete_resource_group_contents_only`.
If set to `true` on `kitchen destroy` only the contents of the used resource group is deleted.

This is especially useful when using the `explicit_resource_group_name` and `destroy_explicit_resource_group` parameters. In the current implementation a call to `kitchen destroy` when `destroy_explicit_resource_gro

[2018-07-13 21:35] stuartpreston commented on #90
I figured that would be the next request.  I have an idea how to accomplish this without having to store or retrieve the IDs of the created resources, it's not as easy as you might think because you cannot just arbitrarily delete the contents in any order as there may be dependencies between them.  I'll hopefully get to it in the coming days.

[2018-07-14 15:17] jcoeltjen commented on #90
Maybe instead of tracking the created resources and deleting them in the correct order we can just apply an empty ARM template to the resource group with `strict` deployment mode.
This would completely clear the resource group but will keep the resource groups and all associated roles and permissions.

The parameter for that could be something like `purge_resource_group`.
This then can be applied

[2018-07-16 18:18] stuartpreston commented on #90
Released in kitchen-azurerm v0.14.3

[2018-07-23 15:12] stuartpreston commented on #89
@dee3sync Did you find out the cause of the problem here?

[2018-07-23 16:32] dee3sync commented on #89
@stuartpreston No...I don't understand what you would like me to add in my .kitchen.yml to try to debug this issue.

[2018-07-24 11:16] stuartpreston commented on #89
@dee3sync I tried this out today and as suspected, the image used does not have WinRM or the Firewall rule required for this to work for that specific Windows 10 image.  Here's the modification required to your .kitchen.yml:
[code]
Please give this a go and see if you get further.

[2018-07-24 18:35] dee3sync commented on #89
@stuartpreston That worked!! Thank you so much!

[2018-07-25 08:53] #89 closed

[2018-08-03 10:28] sebastiankasprzak opened #93 "Feature Request: VM with MSI authentication enabled"
## Overview

For some workflows it would be useful if as part of the kitchen converge action, when VM is created in Azure, that MSI gets enabled and configured at the Azure platform level.

### Example config:
[code]

This will enable testing of applications utilising MSI authentication and reduce the reliance on hardcoded credentials within cookbooks, attributes and .kitchen.yml files.

I believe

[2018-08-04 22:17] kikitux opened #94 "kitchen-azurerm fails with chefdk 3.1.0"
Hello.

I am new to checkdk and kitchen, but seems I can't get to work kitchen-azurerm with the latest chefdk.

My host is macos.

I did install 3.10, then did `chef gem install kitchen-azurerm`

However any command fails with error, found kitchen.log, with this error:

[code]

If I check the versions, I can see are 2 installed, but what's failing is not picking the right one
[code]

Any hint is w

[2018-08-07 12:30] jcoeltjen commented on #94
Have you tried removing the azure_mgmt_* gems and kitchen-azurerm and then reinstall the driver?

[2018-08-07 12:33] jcoeltjen commented on #93
Would a generic 'post-deployment-template' parameter also work for you?

[2018-08-10 13:16] sebastiankasprzak commented on #93
Yeah that will do the job as well @jcoeltjen  is this the preferred approach?

[2018-08-10 13:33] sebastiankasprzak commented on #93
I will have a go at implementing this feature, hopefully PR will be inbound shortly

[2018-08-11 21:06] stuartpreston commented on #43
Released in v0.14.4

[2018-08-11 21:06] #43 closed

[2018-08-11 21:07] stuartpreston commented on #93
Released in v0.14.4

[2018-08-11 21:07] #93 closed

[2018-08-13 21:15] kikitux commented on #94
Hello

thanks both for the update, somehow i missed @jcoeltjen update.

I reinstalled, but same issue, and i am not very familiar with the gems commands, so as for now i noticed that chefdk 2.5.13 works with kitchen-azurerm and thats good enough for me.

i will try next chefdk version.

thanks everyone for your time here.

[2018-08-13 21:15] #94 closed

[2018-10-04 15:03] saivv opened #97 "Issue with azure test-kitchen : Tenant ID cannot be nil"
I am trying to do kitchen create on AZURE here is my yml file.Also created a .azure/credentials.txt with tenantid clientid and cilentsecret and sunscriptionid. But I am failing with the error tenant ID cannot be null like ::
Error : -----> Creating <default-Windows2012-r2>...

YML file :::::

---
driver:
  name: azurerm

driver_config:
 subscription_id: '05df4cfd-e1ab-4390-9422-c6b0506b8c06'
 loca

[2018-10-04 15:05] saivv commented on #97
@stuartpreston Hello  do you ever came across this issue ever ???

[2018-10-04 15:06] stuartpreston commented on #97
Have you tried renaming your credentials.txt to credentials and make sure it's in UTF-8 format?

[2018-10-04 15:10] saivv commented on #97
Yes it is saved in UTF8 format :
[05df4cfd-e1ab-4390-9422-c6b0506b8c06]
client_id = "ae308521-63cf-45cd-b4a6-2d67ec925f5f"
client_secret = "oclNWU7~|wedgUYMG5606+^"
tenant_id = "36da45f1-dd2c-4d1f-af13-5abe46b99921"

[2018-10-04 15:11] stuartpreston commented on #97
Don't post your secrets into GitHub - you should delete and recreate your Service Principal immediately.  A stacktrace would be better if you have one?

[2018-10-04 15:11] saivv commented on #97
@stuartpreston  Yes I saved it in UTF8 fomat.

[2018-10-04 15:19] saivv commented on #97
I tried to save it as credentials no luck its still the same error.

[2018-10-04 15:22] stuartpreston commented on #97
DO you have a log file at .kitchen/logs/kitchen.log ?  Does it have a stack trace inside it?

[2018-10-04 15:28] saivv commented on #97
Yes it did created a kitchen.log
[kitchen.log](https://github.com/test-kitchen/kitchen-azurerm/files/2446986/kitchen.log)

[2018-10-04 15:39] saivv commented on #97
I also observed in .kitchen/default-Windows2012-r2 its listing my vm name wrongly not sure why even I though I edit it to the right VM name no luck.

[2018-10-04 15:40] stuartpreston commented on #97
I would make sure you delete your .kitchen folder, and try again.  You can use:
[code]
And check your credentials file is there...

[2018-10-04 15:48] saivv commented on #97
Tried that but it still printing the wrong VM name to this(.kitchen/default-Windows2012-r2) file also should this file have the tenantid in it ??

[2018-10-04 15:51] stuartpreston commented on #97
Why is it wrong? The VM name is a composite of the suite name and platform name, so looks correct to me.

Only the credentials file has the tenant_id.  Your kitchen.yml just has the subscription_id.  The credentials file is an inifile.  It is possible there are characters in there preventing access to the tenant_id.  If you move the tenant_id to above the client_id and client_secret lines do you g

[2018-10-04 16:29] stuartpreston commented on #97
Please stop (at) mentioning random people within 60 seconds of posting a message.  Your last message seems completely unconnected to your original issue and I'm trying to parse it.

The message you get from converge is likely that it cannot read the hostname from your state file.  In most cases this is becuase the state file doesn't exist, it was left over from a previously aborted run or that you

[2018-10-04 16:42] saivv commented on #97
I had to mention the other person cuz I saw he was mentioning about that Dummy issue in internet if he ever came across it will save your time :)
 But any way Resource id I grab from my azure portal like /subscriptions/xxxxxxx/resourceGroups/resource_grp/providers/Microsoft.Compute/virtualMachines/vm_name

o/p of diagnose ::

timestamp: 2018-10-04 16:30:05 UTC
kitchen_version: 1.20.0
plugins:
  dr

[2018-10-20 19:10] stuartpreston commented on #97
@saivv I think we helped you out in other avenues so closing this issue.  Please open a new one if you are still stuck, or join us in the Chef Community Slack #azure channel.

[2018-10-20 19:10] #97 closed

[2018-10-20 19:12] stuartpreston opened #98 "Feature request: Support MSI when running in a VM or Azure Cloud Shell"
Now that Chef Workstation includes Test Kitchen and the Azure driver when running on Azure Cloud Shell, it would be good if we could use an MSI instead of having to provide a service principal in ~/.azure/credentials

[2018-11-29 11:08] SathyaBhat opened #99 "Presence of version 0.18.1 of azure_mgmt_network gem causes provisioning to fail"
We use test kitchen with the Kitchen AzureRM driver to provision an instance in Azure with a public IP. Noticed that with version 0.18.1 of azure_mgmt_network gem, the kitchen provisioning fails. Below are the logs

[code]

[2018-12-05 21:54] stuartpreston commented on #99
Thanks for the detailed analysis, I’ll try and figure out what we need to do to support the updated azure_mgmt gems, or pin the version at 0.17.0

[2018-12-05 22:34] ricardolupo opened #101 "Add support for Azure Resource Group tagging"
Currently a user cannot tag a resource group created dynamically in a TK run with azurerm

[2018-12-06 18:12] JMLayn commented on #101
To expand on this further, the use case for this feature request is to create resource group tagging similar to vm tagging function already included in the driver. We use tagging as a control for a reaper script that will destroy stale resources in Azure.

[2018-12-11 13:54] stuartpreston commented on #99
Issue being tracked at https://github.com/Azure/azure-sdk-for-ruby/issues/1968
We will pin to 0.18.0 for now

[2018-12-11 14:32] stuartpreston commented on #101
This has been released to Rubygems in kitchen-azurerm 0.14.6

[2018-12-11 14:32] #101 closed

[2018-12-11 14:32] stuartpreston commented on #99
This has been released to Rubygems in kitchen-azurerm 0.14.6

[2018-12-11 14:32] #99 closed

[2018-12-17 16:05] josh-hetland opened #103 "Support Tagging on all resources created"
We use tagging for billing purposes and are trying to turn on policy enforcement that specific tags be present on all resources.

It looks like there are already empty tags blocks on each of the resources. can it be included on those as well?

[2018-12-17 16:19] josh-hetland commented on #103
I also want to just say thank you for your great work

[2018-12-18 13:57] stuartpreston commented on #103
@josh-hetland Thanks for the thanks and for raising issues like this. Yes, you probably saw recently we added support for resource group level tags too.  I'd be happy to take a PR that expanded the tags in the template to cover all created in the resource group.  I can't think of a scenario where it would matter that the VM tags are copied to all resources in the resource group so don't think we n

[2018-12-20 15:30] josh-hetland commented on #103
I've created PR https://github.com/test-kitchen/kitchen-azurerm/pull/105 to expand the application of the tags to all resources.

Two things of note. kitchen-azurerm seems to be broken in the latest version of the chef-workstation (0.2.41). it creates this error when trying to fetch the IP address for display
`Failed to complete #create action: [undefined method `get' for #<Azure::Network::Mgmt::V

[2018-12-27 14:34] stuartpreston commented on #103
Thanks Josh, I've merged this and will get a release out within the next week. The issue with the IP address fetching was fixed in a later azure_mgmt_network and accordingly kitchen-azurerm 0.14.7 has that fix.

[2018-12-27 14:34] #103 closed

[2018-12-27 14:34] stuartpreston commented on #98
This will be included with the next release. Thanks again!

[2019-02-13 13:57] kitforbes opened #109 "Preserve resource group tags for an existing group"
When using `explicit_resource_group_name` with `destroy_resource_group_contents: true`, any pre-existing tags on the resource group are removed.

[code]

If possible, it would be great if these existing resource group tags could be preserved. Perhaps a new flag called `destroy_explicit_resource_group_tags` which defaults to `true` to maintain the current behaviour?

[2019-02-28 00:08] jerryaldrichiii opened #110 "Add support for defining subscription_id via environment variable"
Seems I fell into the same trap that these people did:
  - #6
  - #72
  - #47

I think we should support adding a `AZURE_SUBSCRIPTION_ID` environment variable so that it need not be defined in the `.kitchen.yml` file.

I also like the idea of assuming that if there is only one entry in `~/.azure/credentials` that it is the subscription intended.

[2019-05-14 18:06] albertvaka opened #111 "Resourcegroup could not be found"
## Environment:

**kitchen-azurerm**: 0.14.8
**test-kitchen**: 2.1.0
Running tests in Windows instances on Azure.
Happens on any version of Windows.

## Scenario:

Kitchen tests on Azure fail sometimes with a `ResourceGroupNotFound error`.

[code]

Maybe the resource group gets deleted before it should? Or maybe it never got created and it fails silently up until the point it tries to delete it?

[2019-05-20 21:14] dee3sync commented on #110
@jerryaldrichiii I do this today (running Kitchen Version 1.23.2) ...just set the `AZURE_SUBSCRIPTION_ID` as an environment variable and then add this in your test kitchen file

[code]

[2019-05-25 01:04] jerryaldrichiii commented on #110
Right, that is the only way to do it now. Since we currently set all the others via environment variables and we do not need to interpolate them in the file, I'd like to do it for `AZURE_SUBSCRIPTION_ID` too.

[2019-05-25 05:05] stuartpreston commented on #111
Hi @albertvaka - we do write the name of the Resource Group into the kitchen state file (.kitchen/{instance-name}.yml) close to the start of the process before any deployment has run, sometimes (in the case of a deployment failure) and combined with `kitchen test` proactively running a destroy this will sometimes mean you get the above error. One way to avoid this would be to delete your .kitchen/

[2019-08-10 11:23] stuartpreston commented on #111
Please reopen if there any outstanding issues with the driver. Thanks!

[2019-08-10 11:23] #111 closed

[2019-08-20 21:53] robwafle opened #113 "public_ip and vnet_id are currently mutually exclusive."
# Version:

0.14.9

# Environment:

N/A

# Scenario:

Azure supports a public IP when a machine is joined to a vnet.  We need the public IP for winrm orchestration -- so test kitchen can continue to run chef -- and the VM to be on the subnet so it can access IP addresses on the subnet.  We'd like to avoid having to be connected to the same vnet using a vpn client.

# Steps to Reproduce:

Just use

[2019-09-28 16:11] jmery opened #115 "resource_group_tags not applied to resource group"
# Version:

`kitchen-azurerm (0.14.9)`

# Environment:

Mac OSX 10.14.6 workstation
[code]

# Scenario:

Attempting to set tags @ resource group level using the `resource_group_tags` property.

# Steps to Reproduce:

Use one of the two code snippets below in your kitchen file:
[code]
^^^ `driver_config:` produces the same results.

[code]

# Expected Result:

Specified tags should be applied at th

[2019-09-29 04:23] stuartpreston commented on #115
I tried to repro this but everything seems to work for me:

<img width="1243" alt="Screenshot 2019-09-23 at 13 33 46" src="https://user-images.githubusercontent.com/6384654/65826212-26bba100-e281-11e9-8269-adbdff550f87.png">

Here's the complete yaml I used:

---
driver:
  name: azurerm
  subscription_id: '43706c4e-YOUR-GUID-HERE-e64e6bf63ac4'
  location: 'West Europe'
  machine_size: 'Standard_D1

[2019-09-30 14:47] jmery commented on #115
Closing this for now.  Laptop crashed over the weekend and things _magically_ started working afterwards 🤷‍♂ .

[2019-09-30 14:47] #115 closed

[2019-11-01 19:07] zanecodes opened #117 "Adding user assigned identities no longer works in 0.14.9"
As of `kitchen-azurerm` 0.14.9, attempting to add a user assigned identity using the `user_assigned_identities` config option results in the following error:

[code]

This appears to be due to [this change,](https://github.com/test-kitchen/kitchen-azurerm/commit/98956f532fc4767142c3dbecd071c1389cba97dd#diff-f54020f0d902169c779f2e6df5a1b617R285) at least according to [the Azure documentation.](http

[2019-11-04 22:44] zanecodes opened #118 "VM state is persisted before VM is provisioned"
# Version:

0.14.8

# Environment:

N/A

# Scenario:

Failed Create action due to bad parameters should succeed once parameters are fixed.

# Steps to Reproduce:

Create a `.kitchen.yml` with the following contents, replacing the subscription ID accordingly:
[code]

Run `kitchen create`
Run `env "KITCHEN_VM_PASSWORD=[your password here]" kitchen create`

# Expected Result:

The first `kitchen crea

[2019-11-11 18:42] stuartpreston commented on #117
Ugh. Thanks for the report.

[2019-11-11 23:25] sean-nixon opened #119 "Enable HTTP winrm listener if winrm scheme is set to http"
### Describe the Enhancement:
On Windows VMs, it would be useful if an HTTP listener could be enabled automatically in addition to the HTTPS listener so that it is possible to use the `negotiate` authentication method which is the default winrm transport method. Currently, the bootstrap script only enables an HTTPS listener.

### Describe the Need:
We are trying to use a custom image with Test Kit

[2019-11-13 12:41] stuartpreston commented on #119
Hi @sean-nixon

We do not enable the HTTP listener by default and the one in ARM only works with HTTPS. If you want to override the PowerShell that is used to enable the HTTPS listener, you can use the `winrm_powershell_script` parameter and ARM will supply this to the machine for first boot:

https://github.com/test-kitchen/kitchen-azurerm/blob/master/README.md#enabling-alternative-winrm-configur

[2019-11-13 13:04] stuartpreston commented on #118
Hmm yes, ultimately there is no real way to assess whether the password you provided in the configuration is valid.

If I move all the state saving until the VM is created (or perhaps until after the IP address is visible), then we end up in case where if the deployment fails, we won't know which Resource Group needs destroying (unless the RG is specified manually in the config) and that will leav

[2019-11-13 14:18] stuartpreston commented on #110
Fixed in commit df79c78

[2019-11-13 14:18] #110 closed

[2019-11-13 14:50] sean-nixon commented on #119
@stuartpreston Thanks for the quick reply. I totally missed that parameter. That could definitely help us work around this a lot more easily so thank you very much for pointing me in the right direction.

I still think it would be nice to not require overriding the full WinRM configuration and have a default that works with most Test Kitchen WinRM transport configurations. Currently the default sc

[2019-11-18 18:21] stuartpreston commented on #119
I don't have an issue enabling the HTTP listener in this script. Are you able to submit a PR?

[2019-11-19 21:15] sean-nixon commented on #119
I can try. I created a simple PR for feedback

[2019-11-25 10:32] stuartpreston commented on #119
Closed by #121

[2019-11-25 10:33] #119 closed

[2019-11-29 09:24] stuartpreston commented on #113
Hi @robwafle - thanks for taking the time to send in this report. I was unable to reproduce this. Using the following configuration my machine is both added to the vnet/subnet I specify and has a public IP, which is saved to the state file for further use.

Configuration in kitchen.yml:
[code]

[code]

Portal view of VM showing nic is attached to vnet and public ip is assigned too:
![image](https:

[2019-11-29 09:24] #113 closed

[2020-01-14 21:32] splatteredbits opened #122 "VM administrator/root password is hard-coded and known to the public internet"
# Version:

Latest

# Environment:

Windows

# Scenario:

The password for the administrator account created during provisioning is hard-coded and known.  Malicious users could scan known Azure IP addresses for open VMs and use the known credentials to log into the VM while it is up and grab source code or any other potentially sensitive information on the VM.

# Steps to Reproduce:

1. Provision

[2020-01-16 13:40] stuartpreston commented on #122
This affected versions 0 to 0.15.1

@splatteredbits Thanks for reporting this. I agree with your comments. Users should have specified their own password but many (most?) left the defaults which leaves the VM open to intrusion when using the default settings. I have submitted a patch which fixes this (the password can be found in the state file and I amended the README to reflect that).

PS - plea

[2020-01-16 13:40] #122 closed

[2020-01-23 16:26] nhudacin commented on #117
I just hit this same issue. Following as I might be able to help out.

[2020-01-27 16:41] nhudacin commented on #117
Ok... So I confirmed that if we draw the line and say that `kitchen-azurerm` will only support 1 user-assigned identity, then the code change is actually pretty easy and I'm just able ready to put a PR in for that. I can't imagine why anyone would want to assign multiple identities to a VM, I don't even know how that would work or why MSFT supports it.

I like this approach because it doesn't chan

[2020-04-24 15:49] tas50 commented on #98
Shipped in #134

[2020-04-24 15:49] #98 closed

[2020-05-16 13:41] Vasu1105 opened #137 "kitchen create does not work with azure credentials file."
kitchen-azurerm (1.0.0)
[Version of the project installed]

# Environment:
Workstation : Ubuntu 18.04
[code]
[Details about the environment such as the Operating System, cookbook details, etc...]

# Scenario:
kitchen create fails when using ~/.azure/credentials file

# Steps to Reproduce:

Created service principle in azure using following command
```az ad sp create-for-rbac --name ServicePrincipa

[2020-05-16 21:32] Vasu1105 commented on #137
closing this as found I made a wrong entry in the credentials for subscription id. In readme doc the example is given like this `[abcd1234-YOUR-SUBSCRIPTION-ID-HERE-abcdef123456]` to enter subscription id which confused me and I only replace the `YOUR-SUBSCRIPTION-ID-HERE` part. And due to which I was coming across above error

[2020-05-16 21:32] #137 closed

[2020-06-12 05:12] Vijay8888 opened #140 "Kitchen create failing with azureusgovernment as azure_environment."
# Version:
Kitchen-azurerm 1.0.0
[Version of the project installed]

# Environment: azureusgovernment

[Details about the environment such as the Operating System, cookbook details, etc...]

# Scenario:

We are setting up kitchen using azurerm driver for azureusgovernment for chef cookbooks testing. We tried variables azure_environment: AzureUSGovernment as mentioned in readme file.created credent

[2020-06-13 04:42] Vijay8888 commented on #140
After above issue, we have saved credentials file with utf-8 encoding then we have resolved above issue but getting parse error as below,

Failed to complete create action : [ Couldn’t parse line : “[# subscription id]”] on default-ubuntu-1604.

Could you please help us resolve the issue.

Thanks
Vijay

[2020-06-20 14:30] Vijay8888 commented on #140
@stuartpreston could you please help on this.

[2020-06-27 09:29] Vijay8888 commented on #140
Could someone help on this.

[2020-06-27 09:31] Vijay8888 commented on #140
We unable to login to azureusgovernment with  using this gem.

[2020-06-29 12:35] kethahel99 commented on #109
+1

[2020-06-29 12:36] kethahel99 commented on #109
Hello, is this being added as a feature?

[2020-07-14 11:25] stuartpreston commented on #140
@Vijay8888 Sorry that I did not see this notification sooner. I'm afraid I'm no longer actively working on the project and govcloud support can only be best-effort due to the lack of a test environment. Generically I would look at `kitchen diagnose` and `kitchen <command> -l debug` to see if you can narrow down the cause.

[2020-07-21 15:23] dw185157 opened #142 "Azure VM adminPassword doesn't always meet complexity requirements"
# Version:

Latest.  Not defined.

# Environment:

Windows 10.  Standard Chef cookbook.  Standard non-government Azure.

# Scenario:

1. kitchen create [instance]
2. Auto generated adminPassword will not always meet at least 3 of the password complexity requirements, e.g. TDPMaJIlWReMxtmx - this only contains upper/lowercase letters.

# Steps to Reproduce:

1. kitchen create [instance]

# Expected

[2020-07-21 15:25] dw185157 commented on #142
https://github.com/test-kitchen/kitchen-azurerm/blob/c22b7b605a55c4f7844a08fa7a299e76f57e5906/lib/kitchen/driver/azurerm.rb#L78

Could be changed to method hex with a longer length?

[2020-08-04 14:01] StylusEaterChef commented on #142
It can be changed. Is there a particular length you're suggesting that won't run afoul of maximum password sizes?

Would something like this meet your needs?

[code]

[2020-08-04 20:17] StylusEaterChef commented on #109
Looking into the support for this through the Azure Ruby driver.

[2020-08-05 14:30] dw185157 commented on #142
Actually, I've just discovered a base64 generator and can replicate the issue: https://generate.plus/en/base64

However, by providing an odd number such as 25 each string has met the criteria, so I'd recommend a base64 length of 25.

[2020-08-12 13:24] ecottom commented on #140
@Vijay8888 what version of chef workstation are you running?  I'm not seeing this error on Chef Workstation version: 20.8.111 which includes ms_rest_azure 0.12.0 which has this fix https://github.com/Azure/azure-sdk-for-ruby/pull/2782 for this issue https://github.com/Azure/azure-sdk-for-ruby/issues/2781 but I was seeing it on chef workstation 0.15.18.

[2020-08-18 14:31] StylusEaterChef commented on #142
PR was merged for this. @tas50 can we close this issue?

[2020-08-18 14:48] rogueautomation opened #147 "Azure AD Credential Login Alternative"
### Describe the Enhancement:

 We would like to use Azure AD Credentials rather than SPN or MSI credentials.

 ### Describe the Need:

 In certain cases, it may not be feasible to provide each user with SPN information without incurring significant burden to constantly retrieve client secrets from vaults - and for security best practices each user would need a unique service principal that is aut

[2020-08-18 19:07] StylusEaterChef commented on #109
@kethahel99 @stuartpreston @kitforbes PR is in. Please check it out and review, comment and approve? Thanks.

[2020-08-19 15:12] stuartpreston commented on #147
I have thought about this a few times over my time on the project and wanted to add a couple of pointers.

The need for a Service Principal or MSI is obviously because of the automation/non-interactive requirement. If you have an interactive requirement, one way I had been considering was to use the Azure CLI token provider: <https://github.com/Azure/azure-sdk-for-ruby/commit/1e135955dfe72f0a6b282

[2020-08-19 15:40] StylusEaterChef opened #149 "Cannot Destroy Resource Group"
# Version:

Latest

# Environment:

Working with the following parameters in testing for Issue #148 I cannot destroy the resource group after all instances have been destroyed:

[code]

After the resource group contents are removed the `state[:server_id]` becomes `nil` which means we return immediately after entering the `destroy` stage.

# Scenario:

Can't clean up empty resource groups with `kit

[2020-08-20 03:07] #142 closed

[2020-08-21 13:47] StylusEaterChef opened #152 "Improve Code Documentation with Yard"
### Describe the Enhancement:

Document the code better with Yard.

### Describe the Need:

Developers would benefit from better documentation.

### Current Alternative

No.

### Can We Help You Implement This?:

Up for adoption by another team member.

[2020-08-21 14:14] StylusEaterChef opened #153 "Simplify Code for Retaining Resource Group Tags"
### Describe the Enhancement:

Simplify code for keeping resource group tags.

### Describe the Need:

Remove ugly code lines and clean things up after adding the feature to keep resource tags.

### Current Alternative

None.

### Can We Help You Implement This?:

No.

[2020-08-25 18:16] zanecodes commented on #118
@StylusEaterChef Absolutely! We use `kitchen-azurerm` quite heavily so I'm always happy to contribute.

My thinking was that each piece of state would be persisted as soon as the Azure REST call is successful, so the problem of not knowing which resource group needs to be destroyed would be solved by persisting it to the state file _only_ once it's in a `creating` state and we get the response bac

[2020-08-26 14:31] kethahel99 commented on #109
Awesome, thanks !
how do I update and test @StylusEaterChef

[2020-08-26 14:33] kethahel99 commented on #109
No worries, I got it
![image](https://user-images.githubusercontent.com/25621492/91317042-d531d400-e7b9-11ea-99e9-03da96ff0188.png)

[2020-08-26 15:50] StylusEaterChef commented on #109
@kethahel99 I usually do the following:

[code]

Hope that helps!

[2020-08-26 17:40] jasonwbarnett opened #156 "Random failures related to password complexity"
# Version:

kitchen-azurerm v1.0.0

# Environment:

OS: RHEL 7

# Scenario:

reliably spin up a windows VM on Azure using test kitchen

# Steps to Reproduce:

Continue spinning up a windows VM until you get the error shown in actual result

# Expected Result:

The password auto generated by kitchen should meet the complexity requirements of Azure

# Actual Result:

[code]

[2020-08-26 17:46] StylusEaterChef commented on #156
@jasonwbarnett I see you're reporting you used kitchen-azurerm (v1.0.0). Are you able to try the same approach with the latest version of kitchen-azurerm (v1.2.0)?

[2020-08-26 18:05] jasonwbarnett commented on #156
ahh, I see! you fixed it :)

https://github.com/test-kitchen/kitchen-azurerm/compare/v1.0.0...v1.2.0#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR11

---

I'll test and report back.

[2020-08-26 18:08] StylusEaterChef commented on #156
Awesome. Looking forward to the feedback.

[2020-08-27 18:26] StylusEaterChef commented on #156
@jasonwbarnett mind closing this issue if you're all set? Thanks.

[2020-08-27 18:27] StylusEaterChef commented on #117
@zanecodes It looks like this was addressed with your code. Mind closing out the issue?

[2020-08-27 18:59] #117 closed

[2020-08-27 20:58] #156 closed

[2020-09-15 14:26] StylusEaterChef opened #159 "Enable Home Tenant ID"
### Describe the Enhancement:

While looking into the logic of authentication options it seems we require the user to set `TENANT_ID` when we should be able to leverage their `HOME_TENANT_ID` as a default and enable them to override the default. This should result in cleaner code.

### Describe the Need:

Most users would want this functionality as it can help with cleaner code implementation/usag

[2020-09-17 15:07] devopsdina opened #161 "Create CI file to execute linting & rspec tests"
### Describe the Enhancement:

Create a `ci.yml` file to execute CI for pull requests (similiar to https://github.com/test-kitchen/kitchen-ec2/blob/master/.github/workflows/ci.yml).

CI should run linting & rspec tests.

cc: @StylusEaterChef

[2020-09-18 12:36] faupol3 opened #164 "Connection reset by peer"
# Version:

1.2.0

# Environment:

[code]

# Scenario:

I'm trying to run `kitchen test` with azurerm as the driver. First time using anything chef besides inspec so I am completely aware that I am possibly doing something stupid.

# Steps to Reproduce:

Use the following `kitchen.yml`, create an sp in azure ad (or even az login) and run `kitchen test`

[code]

# Expected Result:

The expected res

[2020-09-21 13:35] #161 closed

[2020-09-22 10:59] ElementalDev opened #165 "Issue with file"
I had this issue

And noticed that the azure_credentials.rb does not have the following at the top of the file:

require 'ms_rest'
require 'ms_rest_azure'

I added these to the file manually and it began to work. It seems like a bug to me but im wondering if its intentional.

[2020-09-23 17:50] StylusEaterChef commented on #165
Good catch. I was able to recreate this and I think it was due to a recent commit.

[2020-09-23 19:29] #153 closed

[2020-09-23 19:30] #147 closed

[2020-09-23 19:30] #118 closed

[2020-09-23 19:33] #165 closed

[2020-09-23 19:36] StylusEaterChef commented on #140
@Vijay8888 is this still a problem or was it resolved?

[2020-09-23 20:05] StylusEaterChef opened #167 "Autoload ms_rest and ms_rest_azure Components"
### Describe the Enhancement:

Need to autoload components to help reduce overhead.

### Describe the Need:

Determine what needs to autoload and be more selective than require ms_rest and ms_rest_azure.

### Current Alternative

Yes, it's currently implemented.

### Can We Help You Implement This?:

N/A

[2020-09-23 20:06] tas50 commented on #167
Paging @mwrock here for help

[2020-09-24 22:49] #167 closed

[2020-09-25 12:39] ElementalDev opened #170 "Username not being added to kitchen state when running test kitchen"
# Version:

master code (1.3.0)

# Environment:

Windows 10
ChefDK version: 4.11.0
Chef Infra Client version: 15.14.0
Chef InSpec version: 4.22.22
Test Kitchen version: 2.7.1
Foodcritic version: 16.3.0
Cookstyle version: 5.23.0

# Scenario:

Username not being added to state

# Steps to Reproduce:

- Run kitchen command that will spin up a VM
- Inspect the kitchen state file

# Expected Result:

[

[2020-09-25 13:19] StylusEaterChef commented on #170
Mind adding a patch with a test?

[2020-09-25 13:20] ElementalDev commented on #170
I can give it a so, sure. Would you rather me get it into my open PR or just create a new one for this new bit

[2020-09-25 13:23] StylusEaterChef commented on #170
New PR. Thanks.

[2020-09-25 15:26] StylusEaterChef commented on #170
Fixed. Nice work @ElementalDev.

[2020-09-25 15:26] #170 closed

[2021-01-06 14:08] cpressland opened #185 "Multiple IP configurations on a NIC"
### Describe the Enhancement:
Allow for a NIC to have multiple IP configurations

### Describe the Need:
We operate Kubernetes Clusters on Azure (not AKS) and need to provision NICs with multiple IP configurations (addresses) for Azure-CNI to work. I am unsure if others would find this useful but I imagine there are other examples where a VM would want multiple IP addresses per NIC.

### Current A

[2021-01-20 12:31] jfe7 opened #188 "Failed to open TCP connection to 169.254.169.254:80 azurerm"
# Version:  Test Kitchen version 2.8.0

I am trying to spin up a Test Kitchen with azurerm, I am facing the below error, any idea how to fix this please?

-----> Starting Test Kitchen (v2.8.0)
-----> Creating <default-windows2019>...
       Creating Resource Group: kitchen-default-windows2019-20210120T121246

No other information is in the log files.

[2021-02-10 18:34] marcparadise commented on #188
Thanks for reporting this @jfe7.   Based on the error message:

[code]

It seems like the host you're trying to connect to can't be reached from the host running `kitchen`. Is there a jump box or VPN that you should be accessing through?

[2021-02-16 10:51] jfe7 commented on #188
Turns out in the end it was nothing to do with networking, I had been given wrong creds!

Thanks

[2021-02-16 10:51] #188 closed

[2021-02-16 19:32] Dreweasland opened #192 "Defaulting to Premium SSD Disks for OS & Data Disks"
Using this config (which is just re-specifying the defaults)
[code]

I'm getting Premium SSD on both the OS disk as well as the data disk as seen here:
![1613503851](https://user-images.githubusercontent.com/2516893/108112092-3b0d6300-705b-11eb-931b-cb3c3533f9dd.png)

I've also tried this without specifying any of the options listed above and the OS disk is still a Premium SSD

[2021-02-18 15:36] collinmcneese opened #193 "publicIPSKU error with latest version"
# Version:

[1.5.0]

# Environment:

[code]

# Scenario:

Trying to build VM with the latest driver and it provides an error re: publicIPSKU.  This is not specified in kitchen configuration but is included by default in the `internal.erb` template.

# Actual Result:

Error in Kitchen:
[code]

[2021-02-18 17:12] collinmcneese commented on #193
Merged in #194

[2021-02-18 17:12] #193 closed

[2021-02-18 21:07] reasland commented on #192
checking deeper, i don't think the winrm driver for kitchen is the issue. Looking at the deployment info it appears that azure is ignoring those parameters

![image](https://user-images.githubusercontent.com/55564295/108421568-f6b8c900-71fa-11eb-8adc-6534a6c320f6.png)

[2021-02-18 21:18] reasland commented on #192
or correction, it appears that kitchen is passing a deployment template missing the managed disk parameters

(deployment)
![image](https://user-images.githubusercontent.com/55564295/108422684-7e530780-71fc-11eb-9143-4ee7f084ad81.png)

(spun up example resource)
![image](https://user-images.githubusercontent.com/55564295/108422597-624f6600-71fc-11eb-9a4a-d988ed9b3c0e.png)

[2021-02-18 21:36] reasland commented on #192
https://github.com/reasland/kitchen-azurerm/commit/2e24aed342236be14402a6e4d8143fc16aa4b8d7

quick commit to try to solve issue, testing it now

[2021-02-18 23:48] reasland commented on #192
my bad for the double-commit i got kitchen converging a standard disk, but never actually tested if the premium disk functionality still worked

now you are able to specify Standard_LRS or Premium_LRS and have it work as it should

[2021-02-19 02:11] #192 closed

[2021-02-24 10:35] paulcalabro commented on #193
@collinmcneese  I came across that exact same error message above while using  1.5.2. Is this fixed?

[2021-02-24 12:49] collinmcneese commented on #193
Yep, `1.5.2` still has the issue,  we need to do one more release on this and bump up to `1.5.3` to get the fixes from #197 in

[2021-02-24 16:06] paulcalabro commented on #193
Thanks for confirming!

[2021-02-24 18:48] marcparadise commented on #140
Closing due to no response - @Vijay8888 please reopen this if you find that the issue is still occurring.

[2021-02-24 18:48] #140 closed

[2021-04-07 17:32] marcparadise commented on #164
@faupol3 could you verify that you are still seeing this issue?

[2021-04-21 18:05] marcparadise commented on #164
Given no further reply, I am closing this issue out. @faupol3 if you (or anyone else) is still encountering this, please feel free to re-open the issue.

[2021-04-21 18:05] #164 closed

[2021-06-23 17:41] marcparadise commented on #185
Thanks for opening this @cpressland.  I think this would be good functionality to add, and we'd be happy to help you get a PR through; unfortunately I can't answer offhand how well the Azure API would be able to handle it, though I would expect it's a supported use case.

[2021-08-04 10:12] saradaathavale opened #210 "Attach a network security group to vm spun during kitchen create"
I would like to set nsg on the vm spun based on .kitchen.yml, please advise me with the parameter naming convention for the yml

[2021-08-05 15:30] saradaathavale opened #211 "Access to all secrets in a Key vault"
I have looked into https://github.com/test-kitchen/kitchen-azurerm but I need access to all secrets in  a keyvault and not a single secret. I have a recipe to write and load secrets from keyvaults. How can I setup kitchen for access to keyvault

[2021-08-13 10:19] grzegorz-wolszczak opened #213 "kitchen-azurerm fails to parse $HOME/.azure/credentials file encoded with UTF with BOM"
# Version:

[Version of the project installed]

# Environment:
Chef Workstation version: 21.4.365
Chef Infra Client version: 16.12.3
Chef InSpec version: 4.29.3
Chef CLI version: 4.0.0
Chef Habitat version: 1.6.288
Test Kitchen version: 2.11.2
Cookstyle version: 7.10.0
Windows 10

# Scenario:
I've called `kitchen create` to have VM created in azure

# Steps to Reproduce:
Change your $HOME/.azure/c

[2021-10-22 21:39] bender-the-greatest opened #218 "Interactive login with `az login` is not working"
# Version:

Test Kitchen 3.0.0

# Environment:

Windows 10.0.18363

# Scenario:

Trying to get Test Kitchen working with the kitchen-azurerm driver interactively from my developer workstation. https://github.com/test-kitchen/kitchen-azurerm/issues/147 indicates this support was added. However, this errors out.

# Steps to Reproduce:

Create a valid kitchen file that contains the `subscription_id`

[2021-12-08 22:22] rogueautomation opened #221 "Allow Existing Resource Groups with Azure Policies to be Used"
# Version:

kitchen-azurerm-1.8.0

# Environment:

10.0.19044

# Scenario:

When issuing a kitchen create using an explicit resource group name, if the resource group already exists the driver still attempts to create the group. This can run into organizational guardrails such as azure policy that are in place at the resource group level, and can remove configurations, including tags from an exist

[2021-12-13 16:50] kasif-adnan opened #222 "Use Azure REST APIs directly instead of azure-sdk-for-ruby gem"
[azure-sdk-for-ruby](https://github.com/azure/azure-sdk-for-ruby) gem has already entered retirement phase. The gem will not be maintained post 31st Dec 2021.

Interaction with Azure REST APIs need to happen directly as outlined [here](https://github.com/Azure/azure-sdk-for-ruby/blob/master/docs/README.md)

[2022-01-10 04:58] sanjain-progress commented on #221
Right now there is no provision to define Resource Groups policy explicitly.  Test-Kitchen picking up the value from platforms -> name and append the current timestamp. So every time the `kitchen create` command executes it always create new Resource Groups policy with unique name.

I also check from Azure app, even the app doesn't provide to creation of Resource Groups policy with same name.

Are

[2022-01-17 17:45] sanjain-progress commented on #221
In addition to that

Giving support to use existing Resource Groups policy affect the existing flow. Whatever the resource create by `kitchen create` command also get destroy at the time of `kitchen destroy` `kitchen test`. And it gets tricky to keep track of what resources are created at the time of `kitchen create` if `.yml` file changed.

[2022-01-31 20:02] rogueautomation commented on #218
I am encountering the same issue. @bender-the-greatest - did you ever find a workaround?

[2022-01-31 20:09] bender-the-greatest commented on #218
I have not, but it's not been a high priority to revisit yet. Note that I have not tried providing an explicit client id and secret, so an app registration with the permissions necessary for `kitchen-azurerm` to function may be a suitable workaround.

[2022-01-31 20:11] rogueautomation commented on #221
Hey @sanjain-progress - We're simply looking to use existing resource groups without attempting any modification of the existing resource group.

[2022-03-01 18:23] DecoyJoe opened #232 "InvalidTemplate error on Azure VM creation—"zone" parameter is invalid"
# Version:

1.9.0

# Environment:

Windows 10, Cinc Workstation 22.2.807

Driver config:

[code]

# Scenario:

I've configured my Test Kitchen environment to use the `azurerm` driver as above and am attempting to create the VM with `kitchen create default-centos-7-7`

# Expected Result:

Test Kitchen/azurerm creates the VM in Azure.

# Actual Result:

The creation fails with the following error:

[2022-03-01 18:36] jasonwbarnett commented on #232
For what it's worth the implementation is missing some critical details. I think #228 was merged too soon. In Azure you can specify a zone or not, but it definitely shouldn't default to 1. It makes it harder for Azure to place the VM. This is especially true when certain SKUs are only available in certain zones.

[2022-03-01 19:18] jasonwbarnett commented on #232
@tas50 as I started to dig into this I realized it's going to be a much bigger effort than I originally anticipated (to establish solid unit tests). The actual "fix" I think is done, but I don't have much confidence. I would recommend yanking #228 and then re-releasing if you think this is impactful enough.

[2022-03-01 19:20] jasonwbarnett commented on #232
@tas50 funny enough on further inspection the way #228 was implemented the zone config param is completely disconnected from the template. In other words zone 1 was hard coded into the template.

[2022-03-01 20:07] tas50 commented on #232
@jasonwbarnett might as well roll forward if the config isn't doing anything at this point.

[2022-03-01 20:28] jasonwbarnett commented on #232
Well it's hard coding folks to zone 1. Not sure if you mean why not roll out my PR without tests or saying why not leave the zone feature as-is.

[2022-03-08 17:20] jasonwbarnett commented on #232
This is causing significant issues for our testing pipelines because the feature is broken and everything is being pinned to zone 1 in whatever region you're using which makes it more difficult for azure to place and provision the VM.

[code]

I consider this a serious bug in two ways:

1. The actual feature doesn't work as intended. The template is completely disconnected from the config.
2. This

[2022-03-10 10:51] #232 closed

[2022-05-16 17:10] xahmad7 opened #251 "Failed to kitchen converge"
Error:
I, [2022-05-16T20:06:16.429635 #18367]  INFO -- Kitchen: -----> Starting Test Kitchen (v3.2.2)
I, [2022-05-16T20:06:16.548270 #18367]  INFO -- Kitchen: -----> Creating <default-ubuntu-1404>...
W, [2022-05-16T20:06:16.548711 #18367]  WARN -- Kitchen: /home/zero/.azure/credentials was not found or not accessible.
W, [2022-05-16T20:06:16.548753 #18367]  WARN -- Kitchen: (/home/zero/.azure/cred

[2022-05-18 09:25] kasif-adnan commented on #251
@xahmad7 ,Could you help with the kitchen.yml file please ?

[2022-05-18 22:03] bender-the-greatest opened #252 "Unable to reference `image_urn` when the image is in a Shared Image Gallery"
## :ghost: Brief Description

I am unable to reference `image_urn` when the image is in a Shared Image Gallery.

## Version

I am not sure, `kitchen diagnose` is not reporting the version. Here is the driver portion of `kitchen diagnose`:

[code]

## Environment

Attempting to run Chef tests against the latest image version in a shared gallery I control, although this issue can be reproduced with

[2022-05-19 14:58] bender-the-greatest commented on #252
I believe I found the solution. Since it appears there is no searching going on for non-marketplace images with `image_urn`, it appears `image_id` works if you provide the resource ID to:

1. The managed image itself (assumes you have direct permission to access it)
2. The image definition from the Shared Image Gallery
    - Grabs `latest`
4. The image definition *version* from the Shared Image Ga

[2022-05-19 20:27] bender-the-greatest commented on #218
@rogueautomation I did work around this, right now my workaround is to use an app registration and credentials file

[2022-09-02 07:27] pkazi commented on #210
We can attach a NSG to the subnet where Kitchen Azure VM is going to be created -
Read more in - https://social.msdn.microsoft.com/Forums/azure/en-US/da12fe95-683a-4ad8-9504-13444cc76afd/azure-kitchen-network-security-group?forum=WAVirtualMachinesVirtualNetwork
This NSG will be applicable to all the VMs launched in that subnet.

[2022-09-02 07:28] pkazi commented on #28
We can attach a NSG to the subnet where Kitchen Azure VM is going to be created -
Read more in - https://social.msdn.microsoft.com/Forums/azure/en-US/da12fe95-683a-4ad8-9504-13444cc76afd/azure-kitchen-network-security-group?forum=WAVirtualMachinesVirtualNetwork
This NSG will be applicable to all the VMs launched in that subnet.